body{
    background-color: #73a587f5;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

/*ESTILOS DE BARRA DE NAVEGACION*/

nav {
  background-color: #0A9292;
  height: 51px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}
  
nav ul {
  list-style: none;
  float:right;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}
  
nav li {
  color: #FFF;
  cursor: pointer;
 }
  
nav a {
  display: block;
  font-size: 16px;
  line-height: 51px;
  padding: 0 16px;
}
  
nav a:hover {
  color: aliceblue;
  background-color: #21446b;
  text-decoration: none;
} 

.botonReMa{
  position: absolute;
  left: 1%;
  border-radius: 10px;
  color: #FFF;
  font-size: 16px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
}

/*TITULO*/

.container {
  display: block;
  position: absolute;
  width: 100%;
  height: 40%;
  background-image: url('../img_menu/image.jpg');
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.541); 
}

/*Municipio*/
.municipio{
  position: absolute;
  margin-top: 1%;
  color: #fff;
  top:0;
  left: 90px;
}



.imagenMunicipio2 {
  position: absolute;
  left: 1%;
  margin-top: 2%;
  width: 60px;
  height: 60px;
  top:0;
}

.contenido{
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  text-transform: uppercase;
  gap: 30px;
}

.contenido .datos{
  font-family:'Trebuchet MS', Arial, sans-serif;
  font-size: 19px;
  letter-spacing: -1px;
}

.contenido .year{
  font-family:'Trebuchet MS', Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 0;
}

.contenido h2{
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 14px;
  margin-top: 1mm;
}


/*  SECCCIONES  */

.grupoSec{
  position: absolute;
  top: 48%; /* Altura de div1 */
  left: 0;
}

.secciones{
  position: flex;
}

.secciones h1{
  font-size: 20px;
  margin-bottom: 4px;
  margin-top: 0;
  padding: 10px;
  color: #fff;
  background-color: #21446bc5;
  text-transform: uppercase;
  text-align: center;
} 

