body{
    background-color: #73a587f5;
    font-family:Arial, Helvetica, sans-serif;
}

/*ESTILOS DE BARRA DE NAVEGACION*/

nav {
    background-color: #0A9292;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    float:right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
  }
  
  nav li {
    color: #FFF;
    cursor: pointer;
    
  }
  
  nav a {
    display: block;
    font-size: 16px;
    line-height: 50px;
    padding: 0 10px;
  }
  
  nav a:hover {
    color: aliceblue;
    background-color: #21446b;
    text-decoration: none;
} 

.botonReMa{
  position: absolute;
    height: 40px;
    top: 1%;
    left: 1%;
    background: #0453A5;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
}

/*TITULO*/

.container {
  position: relative;
  width: 100%;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 146, 146,0.2); 
}


      /*Municipio*/
.municipio{
  position: absolute;
  margin-top: 80px;
  color: #fff;
}

.imagenMunicipio2 {
  position: absolute;
  width: 60px;
  height: 60px;
  /* background-image: url('../img_mun/mun_acambay.png');
  background-size: cover; */
}

/* .image {
  position: absolute;
} */
.image2 {
  position: absolute;
  width: 100px;
  height: 60px;
}