body{
    background-color: #73a587f5;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

/*ESTILOS DE BARRA DE NAVEGACION*/

nav {
    background-color: #0A9292;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    float:right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
  }
  
  nav li {
    color: #FFF;
    cursor: pointer;
    
  }
  
  nav a {
    display: block;
    font-size: 16px;
    line-height: 50px;
    padding: 0 15px;
  }
  
  nav a:hover {
    color: aliceblue;
    background-color: #21446b;
    text-decoration: none;
} 

.botonReMa{
  position: absolute;
  left: 1%;
    border-radius: 10px;
    color: #FFF;
    font-size: 16px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
}

/*TITULO*/

.container {
  position: relative;
  width: 100%;
  height: 100%;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 146, 146,0.2); 
}

/*Municipio*/
.municipio{
  position: absolute;
  margin-top: 80px;
  color: #fff;
  top:0;
  left: 80px;
}

.imagenMunicipio2 {
  position: absolute;
  width: 60px;
  height: 60px;
  top:0;
}

.image2 {
  position: relative;
  width: 60%;
}

/*  SECCCIONES  */
.secciones h1{
  font-size: 20px;
  margin-bottom: 4px;
  margin-top: 0;
  padding: 10px;
  line-height: 1.2em;
  box-sizing: border-box;
  color: #fff;
  background-color: #21446bc5;
  text-transform: uppercase;
  text-align: center;
}

h2{
  text-align: justify;
  font-size: 15px;
  padding: 10px;
}