@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}
.main-menu {
background:#212121;
/*border-right:1px solid #e5e5e5;*/
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:5%;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transition:all .1s linear;
transition:all .1s linear;
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .menu_texto {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#000000;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

.container {
  display: block;
  position: absolute;
  width: 95%;
  height: 40%;
  background-image: url('../img_menu/image.jpg');
  background-position: center;
  margin-left: 4%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.541); 
}

.municipio{
  position: absolute;
  margin-top: 1%;
  color: #fff;
  top:0;
  left: 90px;
}

.imagenMunicipio2 {
  position: absolute;
  left: 1%;
  margin-top: 2%;
  width: 60px;
  height: 60px;
  top:0;
}

.contenido{
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  text-transform: uppercase;
  gap: 30px;
}

.contenido .datos{
  font-family:'Trebuchet MS', Arial, sans-serif;
  font-size: 19px;
  letter-spacing: -1px;
}

.contenido .year{
  font-family:'Trebuchet MS', Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 0;
}

.contenido h2{
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 14px;
  margin-top: 1mm;
}


/*  SECCCIONES  */

.grupoSec{
  position: absolute;
  top: 48%; /* Altura de div1 */
  left: 0;
}

.secciones{
  position: flex;
}

.secciones h1{
  font-size: 20px;
  margin-bottom: 4px;
  margin-top: 0;
  padding: 10px;
  color: #fff;
  background-color: #21446bc5;
  text-transform: uppercase;
  text-align: center;
} 