:root {
  --main-bg-color:  #eeeeee;
  /*BARRA DE NAVEGACION*/
  --top-bar-color:  #00a9af;
  --top-bar-color-dos:  #006969;
  --top-bar-font-blanco: #fff;
  --top-bar-hover-color: #21446b;
  /*ENCABEZADO*/
  --header-overlay-color: rgba(0, 0, 0, 0.541); 
  /*SECCIONES*/  
  --section-font-negro: #222222; 
  --section-bg--color:  #d7dcdf;
  --section-etq-color: #92c8ed;
  --sub-section-font-color: #182549;
  --sub-section-bg--color: #00AFAA;
  /*PRUEBAS*/
  --pruebas: #00AFAA;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
    background-color: var(--main-bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

/*INICIO 
ESTILOS DE BARRA DE NAVEGACION*/

nav {
  position: fixed;
  display: block;
  background: var(--top-bar-color);
  height: 60px;
  width: 100%;
  /* border: 1px solid black; */
}

.enlace{
  position: absolute;
  padding: 7px 13px;
  margin: 13px 17px;
}

.enlace:hover {
  color: var(--top-bar-font-blanco);
  background:var(--top-bar-color-dos);
  line-height: normal;
  border-radius: 4px;
  transition: .5s;
}
  
nav ul {
  float:right;
  margin: 20px;
}
  
nav ul li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
 }
  
nav ul li a {
  color: var(--top-bar-font-blanco);
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active, li a:hover{
  color: var(--top-bar-font-blanco);
  background:var(--top-bar-hover-color);
  transition: .5s;
}
  
.checkbtn{
  font-size: 30px;
  color:  #fff;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

section{
  padding-top: 60px;
  position: relative;
  background: url('../img_menu/image.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(60vh - 60px);
  z-index: -1;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--header-overlay-color);
  z-index: -1;
}

.municipio{
  position: absolute;
  margin-top: 3%;
  color: var(--top-bar-font-blanco);
  top:0;
  left: 90px;
}

.imagenMunicipio2 {
  position: absolute;
  left: 1%;
  margin-top: 2%;
  width: 60px;
  height: 60px;
  top:0;
}

@media (max-width: 1280px){
  .enlace{
    padding-left: 20px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 1250px){
  .checkbtn{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--top-bar-color-dos);
    margin: 0px;
    top: 60px;
    left: 100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 5px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20 px;
  }
  li a:hover, li a.active{
    background: none;
    font-weight: bolder;
    color: var(--main-bg-color);
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/*FIN 
ESTILOS DE BARRA DE NAVEGACION*/

/*INICIO
ESTILOS SECCIONES*/
p{
  text-align: justify;
  margin: 10px;
  /* background-color: #fff; */
}
.secciones{
  display: inline-block;  
  flex-wrap: wrap;
  background: none;
  background-color:  var(--section-bg--color); 
  width: 100%;
}
.secciones div.titulo{
    display: inline-block;  
    background-color: var(--sub-section-bg--color);
    /* background-color: #0086af; */
    width: 100%;
  }
  .secciones h1.tituloSec,
  .secciones h1.sub{
      display: inline-block;
      /* background-color: #182549; */
      margin: 1%;
      font-size: 23px;
    }
    .secciones h1.sub{
      color: var(--sub-section-font-color);
    }
    .secciones span.year{
      background-color: var(--top-bar-hover-color);
      margin: 1%;
      margin-top: 1%;
      padding: 5px;
      border-radius: 4px;
      color: var(--top-bar-font-blanco);
      font-size: 12px;
    }
    
    div.datos{
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  div.datosv{
      flex: 2;
      /* background-color: #182549; */
      margin: .5%;
      /* SE PUEDE OMITIR */
    }
      span.datos{
        font-size: 18px;
        /* background-color: #fff; */
      }
      h2.categoria{
        display: inline-block;
        background-color: var(--section-etq-color);
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0px;
        text-align: start;
        padding: 2%;
        border-radius: 4px;
      }
    div.ContenedorGraficos{
      /* background-color: #fff; */
      /*o 60%*/
      min-width: 70%;
      max-width: 100%;
    }
   /*  #textoGraficas{
      min-width: 30%; 
      min-width: 400px;
    }*/
    /* canvas{
      background-color: #92c8ed;
    } */
    #lineas, #contenedorEco{
      min-width: 50%;
    }
    #graficoP1, #listanNG{
      max-width: 30%;
    } 
    #graficoP2{
      max-width: 50%;
    } 
    #empleoG{
      min-width: 100%;
    }
    #delincuenciaG{
      max-width: 30%;
    }
/*FIN
ESTILOS SECCIONES*/

/*INICIO
ESTILOS TABLA*/
table {
	/*width: 800px;*/
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 10px; /* Ajusta el valor según el nivel de redondeo deseado */
  overflow: hidden; /* Oculta cualquier contenido que se salga de los bordes redondeados */
  margin: 2%;
}

 th {
	text-align: left;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
}   

th {
  background-color: var(--section-etq-color);
}

tr {
  &:hover {
    background-color: rgba(255,255,255,0.8);
  }
}
#tablaApo {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alineación horizontal al centro */
  align-items: center; /* Alineación vertical al centro (opcional) */
}

/*FIN
ESTILOS TABLA*/

/*INICIO
ESTILOS BOTON SUBIR*/
.BSubir{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 0;
	border-radius: 5px;
	font-size: 16px;
}

.BSubir{
  position: fixed;
  margin: 20px;
	background-color: var(--top-bar-color);
  border-color: var(--top-bar-color);
	color: var(--top-bar-font-blanco);
	transition-duration: 0.4s;
	cursor: pointer;
  z-index: 2;
}

.BSubir:hover{
	background-color: var(--section-etq-color);
  border-color: var(--section-etq-color);
	color: var(--top-bar-font-blanco);
  font-weight: bold;
}
/*FIN
ESTILOS BOTON SUBIR*/

/*Datos*/

.contenido{
  margin: 0%;
  padding-top: 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  text-transform: uppercase;
  gap: 30px;
}

.contenido .datos{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-bg-color);
  font-weight: lighter;
  letter-spacing: -1px;
}

.datosv .year{
  font-family:'Trebuchet MS', Arial, sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  line-height: 30px;
  border-radius: 4px;
  color: var(--section-font-color);
  background-color: var(--top-bar-color);
}

.contenido h2{
  color: var(--main-bg-color);
  font-weight: bold;
  font-size: 14px;
  margin-top: 1mm;
}

.datosv{
  display: block;
}

.municipio .datosv .categoria{
  display: flex;
  flex-wrap: wrap;
  background: none;
}


/* Estilo del menú desplegable */
select {
  font-size: 16px;
  padding: 8px;
  border: 1px solid var(--main-bg-color);
  border-radius: 4px;
  background-color: var(--main-bg-color);
  color: var(--section-font-negro);
  width: 200px;
  outline: none; /* Elimina el contorno azul en algunos navegadores cuando se enfoca */
}

/* Estilo de las opciones */
select option {
  background-color: var(--main-bg-color);
  color: var(--section-font-negro);
}

/* Estilo para las opciones al hacer hover */
select option:hover {
  background-color: var(--section-etq-color);
}

/* Estilo para la opción seleccionada */
select option:checked {
  background-color: var(--top-bar-color);
  color: var(--top-bar-font-blanco);
}


@media (max-width: 800px){
  section{
    height: calc(74vh - 60px);
  }
}

