*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Scroll*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-corner{
	background-color:rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track {
	background-color:rgba(255, 255, 255, 0.75);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(46, 46, 140, 0.75);
	border-radius: 10px;
}

/* ESTRUCTURA PRINCIPAL */

body{
    background: #0a9292;
    width: 100%;
    height: 100vh;
}

.contenedor{
    position: absolute;
    display: flex;
    align-items: center;
    margin: 1% 4% 0 4%;
    width: 100%;
    height: 100%;
}

/* BARRA SUPERIOR*/

.selec_municipios{
	position: absolute;
	background-color: rgba(255, 255, 255, 0.55); 
	top: 0;
	right: 8%;
	width: 92%;
	height: 22px;
    border-radius: 7px;
	transition: 1s ease all;
	overflow-y: scroll;
	z-index: 3;
}

.btn_selec{
	display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.barra_des{
	transform: rotate(90deg);
}

.opc_municipios{
	display: none;
}

.opc_municipios button{
	position: relative;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	margin: 0 auto 10px auto;
	width: 80%;
	height: 42px;
}

.opc_municipios p{
    column-count: 5;
	column-gap: 8px;
    margin-bottom: 10px;
    /*list-style: none;*/
}

/* TARJETA */

.info{
    background: #d0e4e4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 10%;
	margin-right: 15px;
    border-radius: 10px;
	transition: 1s ease all;
}

/*  SUBCONTENEDOR */

.subcontenedor{
    display: none;
}

.tableDatos td{
    padding: 5px;
    border-bottom: solid 1px #2b0faa;
}

/* SUBCONTENEDOR ENTRADA DE CLASES */

.enc {
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}
.enc.active {
	visibility: visible;
}
.entrada {
	padding: 20px;
	text-align: center;
	width: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
.entrada h2,
.entrada h1 {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 8px;
	opacity: 0;
}
.entrada h3 {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 18px;
	opacity: 0;
}
.entrada table,
.entrada button,
.entrada.active input,
.entrada.active label {
	opacity: 0;
}

/* Entradas - Animacion*/

.entrada.active {
	transform: scale(1); 
	opacity: 1;
}
.entrada.active h2,
.entrada.active h1 { 
	animation: entradaTitulo .5s ease .2s forwards; 
}
.entrada.active h3 { 
	animation: entradaSubtitulo .5s ease .2s forwards; 
}
.entrada.active table,
.entrada.active button,
.entrada.active input,
.entrada.active label {
	animation: entradaTable .5s linear .5s forwards; 
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes entradaTable {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Div de categoria */

.filtro_categoria{
	display: block;
}

.filtro_categoria h1{
	margin: 30px 0 15px 0;
}

.filtro_categoria input{
	margin: 8px;
}

.filtrado{
	display: none;
}

/* ESTILO DE BOTONES - Botones general */

.btnImprimir,
.opc_municipios button,
.btnContinuar{
	background-color: rgba(255, 255, 255, 0.75); 
	color: black; 
	border: 2px solid #0099CC;
	border-radius: 5px;
	padding: 4px 32px;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-transform: uppercase;
}

.btnImprimir,
.btnContinuar{
	margin-top: 30px;
}

.btnImprimir:hover,
.opc_municipios button:hover,
.btnContinuar:hover {
	background-color: #008CBA;
	color: white;
}

/* MENSAJE DE VALIDACION - VENTANA EMERGENTE */

.filtro_categoria .v_emergen{
	display: none;
}

.v_emergen_validado_R{
	position: absolute;
	top: 45%;
	font-size: 22px;
	color: white;
	background-color:rgba(207, 12, 15, 0.8);
    border: solid 1px #801313;
}

/* MAPA ESTILOS */

.mapdiv{
	width: 700px;
	height: 610px;
	overflow-y: scroll;
	overflow-x: scroll;
}

.mapdiv path{
    cursor: pointer;
    fill: rgba(220, 130, 15, 0.85);
    stroke: rgb(110, 65, 5);
    stroke-width: 5px;
	transition: .25s ease all;
}

.mapdiv path:hover{
    fill: lightgreen;
    /*stroke: lightgreen;
    stroke-width: 45px;*/
}

svg{
    position: relative;
    z-index: 1;
}

#Map{
	transition: .5s ease all;
}

.escala{
	position: absolute;
    bottom: 12%;
    z-index: 2;
}

.btnAcercar,
.btnAlejar{
    display: flex;
    justify-content: center;
    align-items: center;
	width: 30px;
	height: 30px;
	margin: 3px 10px;
	border-radius: 8px;
}

.btnAcercar:hover,
.btnAlejar:hover{
	background-color: rgba(46, 46, 140, 0.85);
	color: white;
}
