*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Scroll*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-corner{
	background-color:rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track {
	background-color:#A9DFFF;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #00578A;
	border-radius: 10px;
}

/* ESTRUCTURA PRINCIPAL */

body{
    background: #0EA5FF;
    width: 100%;
    height: 100vh;
}

.con_cortina{
	background: rgba(0, 0, 0, 0.25);
	position: absolute;
    width: 100%;
    height: 100%;
	visibility: hidden;
	z-index: 4;
}

.contenedor{
    position: absolute;
    display: flex;
    align-items: center;
    margin: 1% 4% 0 4%;
    width: 100%;
    height: 100%;
}

/* BARRA SUPERIOR*/

.selec_municipios{
	position: absolute;
	background-color: #78CDFF; 
	top: 0;
	right: 8%;
	width: 92%;
	height: 22px;
    border-radius: 7px;
	transition: 1s ease all;
	overflow-y: scroll;
	z-index: 5;
}

.btn_selec{
	display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.barra_des{
	transform: rotate(90deg);
}

.opc_municipios{
	display: none;
}

.opc_municipios button{
	position: relative;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	margin: 0 auto 10px auto;
	width: 80%;
	height: 54px;
}

.opc_municipios p{
    display: grid;
	grid-template-columns: repeat(5, 1fr);
}

/* TARJETA */

.info{
	position: relative;
    background: #78CDFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 10%;
	margin-right: 15px;
    border-radius: 10px;
	transition: 1s ease all;
}

/*  SUBCONTENEDOR */

.subcontenedor{
    display: none;
}

.tableDatos th{
    padding: 5px;
    border-bottom: solid 1px #00436A;
}

.tableDatos td{
    padding: 5px;
    border-bottom: solid 1px #00436A;
}

/* SUBCONTENEDOR ENTRADA DE CLASES */

.enc {
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}
.enc.active {
	visibility: visible;
}
.entrada {
	padding: 10px;
	text-align: center;
	width: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}
.entrada h2,
.entrada h1 {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 8px;
	opacity: 0;
}
.entrada h3 {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 12px;
	opacity: 0;
}
.entrada table,
.entrada button,
.entrada.active input,
.entrada.active label {
	opacity: 0;
}

/* Entradas - Animacion*/

.entrada.active {
	transform: scale(1); 
	opacity: 1;
}
.entrada.active h2,
.entrada.active h1 { 
	animation: entradaTitulo .5s ease .2s forwards; 
}
.entrada.active h3 { 
	animation: entradaSubtitulo .5s ease .2s forwards; 
}
.entrada.active table,
.entrada.active button,
.entrada.active input,
.entrada.active label {
	animation: entradaTable .5s linear .5s forwards; 
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes entradaTable {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Div de categoria */

.filtro_categoria{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.filtro_categoria h1{
	margin: 12px 0 6px 0;
}

.filtro_categoria input{
	margin: 8px 8px 8px 0;
}

.filtrado{
	display: none;
}

.filtro_info{
    display: flex;
    justify-content: center;
}

/* ESTILO DE BOTONES - Botones general */

.btnImprimir,
.opc_municipios button,
.btnContinuar,
.btn_repor_mun{
	background-color: #fff; 
	color: black; 
	border: 2px solid #0EA5FF;
	border-radius: 5px;
	padding: 4px 32px;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-transform: uppercase;
}

.btnImprimir,
.btnContinuar{
	margin-top: 25px;
}

.btn_repor_mun{
	background-color: #fff; 
	border: 2px solid #FFCE00;
	margin-top: 5px;
}

.btnImprimir:hover,
.opc_municipios button:hover,
.btnContinuar:hover,
.btn_regresar:hover,
.btn_repor_mun:hover {
	background-color: #0EA5FF;
	color: white;
}

.btn_repor_mun:hover {
	background-color: #FFCE00;
	color: white;
}

.btn_regresar{
    position: absolute;
	visibility: hidden;
	background-color: #fff; 
	color: black; 
	border: 2px solid #0EA5FF;
    top: 10px;
    left: 10px;
	width: 30px;
	height: 30px;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
    z-index: 3;
}

/* MENSAJE DE VALIDACION - VENTANA EMERGENTE */

.filtro_categoria .v_emergen{
	display: none;
}

.v_emergen_validado_R{
	position: absolute;
	top: 45%;
	font-size: 24px;
	padding: 8px;
	color: white;
	background-color:#D5000B;
    border: solid 1px #D5000B;
}

/* MAPA ESTILOS */

.mapdiv{
	width: 700px;
	height: 610px;
	overflow-y: scroll;
	overflow-x: scroll;
}

.mapdiv path{
    cursor: pointer;
    fill: #FFCE00;
	/*#FFE370*/
    stroke: #A78700;
    stroke-width: 5px;
	transition: .25s ease all;
}

.mapdiv path:hover{
    fill: #FF8C00;
    /*stroke: lightgreen;
    stroke-width: 45px;*/
}

svg{
    position: relative;
    z-index: 1;
}

#Map{
	transition: .5s ease all;
}

.escala{
	position: absolute;
    bottom: 12%;
    z-index: 2;
}

.btnAcercar,
.btnAlejar{
    display: flex;
    justify-content: center;
    align-items: center;
	width: 30px;
	height: 30px;
	margin: 3px 10px;
	border-radius: 8px;
}

.btnAcercar:hover,
.btnAlejar:hover{
	background-color: #00436A;
	color: white;
}
