body{
  display: flex;
  gap: 2%;
}
/*TITULO Seleccione las columnas deseadas*/
.contenedor{
  position: absolute;
  margin-top: 1%;
  margin-left: 8%;
  width: 84%;  
  height: 8%;
  font-weight: normal;
  font-size: 40px;
  font-family: Arial;
  text-align: center;
}
/*CheckBox*/  
.filtro{
  position: absolute;
  top: 45%;
  left: 50%;
  width: 84%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: black;
  transform: translate(-50%, -50%);
  gap: 3%;
}
/*label checkbox*/
.chbox {
  font-weight: 600;
  color: #000000;
  margin-bottom: 2px;
  width: 18%;
  float: left;
  cursor: pointer;
  padding: 0 0.6em;
  box-sizing: border-box;
  border-radius: 10px;
  background: #e6e6e6;
  transition: all 0.5s ease 0s;
  display: inline-flex;
  align-items: center;
}
/*Primer boton*/
.boton{
  position: absolute;
  top: 80%;
  left: 8%;
  width: 50%;
  font-weight: normal;
  font-size: 20px;
  font-family: Arial;
  text-align: center;
  z-index: 1;
  transform: translate(35%, -20%);
}
/*priemra tabla*/
.tabla{
  position: absolute;
  top: 87%;
  left: 5%;
  width: 90%;  
  text-align: center;
  transform: translate(5%, 5%);
}
/*Seleccione el municipio deseado*/
.contenedor2{
  position: absolute;
  top: 148%;
  left: 8%;
  width: 80%;
  font-weight: normal;
  font-size: 40px;
  font-family: Arial;
  text-align: center;
  transform: translate(0%, 105%);
}
/*RadioButton*/  
.filtro2{
  position: absolute;
  margin-top: 90%;
  margin-left: 8%;
  width: 84%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  color: black;
  gap: 1%;
  transform: translate(1%, -1%);
}
/*label RadioButton*/  
.rad {
  font-weight: 600;
  color: #000000;
  background: #e6e6e6;
  margin-bottom: 2px;
  padding: 0 0.6em;
  box-sizing: border-box;
  border-radius: 10px;
}
/*boton 2*/ 
.boton2{
  position: absolute;
  top: 250%;
  left: 50%;
  width: 9%;  
  font-weight: normal;
  font-size: 20px;
  font-family: Arial;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/*tabla 2*/ 
.tabla2{
  position: absolute;
  left: 50%;
  top: 250%;
  width: 90%;    
  text-align: center;
  transform: translate(-15%, 15%);
}
thead th{
  background-color: #6495ed;
  color: #fff;
  text-align: center;
}

tbody td{
  background-color: #e9e8ef;
  color:rgb(0, 0, 0);
}






