<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MUNICIPIO</th>
      <th>PRI</th>
      <th>PRD</th>
      <th>PVEM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>355</td>
      <td>0</td>
      <td>60</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>349</td>
      <td>3</td>
      <td>57</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>399</td>
      <td>1</td>
      <td>55</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>473</td>
      <td>7</td>
      <td>27</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>337</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>201</td>
      <td>0</td>
      <td>16</td>
    </tr>
    <tr>
      <th>6</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>192</td>
      <td>2</td>
      <td>13</td>
    </tr>
    <tr>
      <th>7</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>96</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>149</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>294</td>
      <td>1</td>
      <td>43</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>212</td>
      <td>0</td>
      <td>172</td>
    </tr>
    <tr>
      <th>11</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>308</td>
      <td>3</td>
      <td>21</td>
    </tr>
    <tr>
      <th>12</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>346</td>
      <td>1</td>
      <td>17</td>
    </tr>
    <tr>
      <th>13</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>431</td>
      <td>8</td>
      <td>27</td>
    </tr>
    <tr>
      <th>14</th>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>359</td>
      <td>2</td>
      <td>17</td>
    </tr>
  </tbody>
</table>