<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>CIRCUNSCRIPCION</th>
      <th>ID_ESTADO</th>
      <th>NOMBRE_ESTADO</th>
      <th>ID_DISTRITO_LOCAL</th>
      <th>CABECERA_DISTRITAL_LOCAL</th>
      <th>ID_MUNICIPIO</th>
      <th>MUNICIPIO</th>
      <th>SECCION</th>
      <th>CASILLAS</th>
      <th>PAN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>1</td>
      <td>3</td>
      <td>392</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>2</td>
      <td>3</td>
      <td>354</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>3</td>
      <td>3</td>
      <td>471</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>4</td>
      <td>4</td>
      <td>198</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>5</td>
      <td>2</td>
      <td>151</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>6</td>
      <td>2</td>
      <td>168</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>7</td>
      <td>2</td>
      <td>126</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>8</td>
      <td>1</td>
      <td>68</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>9</td>
      <td>2</td>
      <td>121</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>10</td>
      <td>2</td>
      <td>161</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>11</td>
      <td>3</td>
      <td>133</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>12</td>
      <td>2</td>
      <td>177</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>13</td>
      <td>3</td>
      <td>197</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>14</td>
      <td>5</td>
      <td>147</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>15</td>
      <td>3</td>
      <td>161</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>16</td>
      <td>3</td>
      <td>218</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>17</td>
      <td>3</td>
      <td>179</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>18</td>
      <td>2</td>
      <td>81</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>19</td>
      <td>4</td>
      <td>338</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>20</td>
      <td>3</td>
      <td>248</td>
    </tr>
  </tbody>
</table>