<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Unnamed: 0</th>
      <th>Unnamed: 1</th>
      <th>Unnamed: 2</th>
      <th>Unnamed: 3</th>
      <th>Unnamed: 4</th>
      <th>Unnamed: 5</th>
      <th>Unnamed: 6</th>
      <th>Unnamed: 7</th>
      <th>Unnamed: 8</th>
      <th>Unnamed: 9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>Instituto Electoral del Estado de México</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>Secretaría Ejecutiva</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>Resultados definitivos por Sección de la Elección de Ayuntamientos 2021</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>ID_ESTADO</td>
      <td>NOMBRE_ESTADO</td>
      <td>ID_DISTRITO_LOCAL</td>
      <td>CABECERA_DISTRITAL_LOCAL</td>
      <td>ID_MUNICIPIO</td>
      <td>MUNICIPIO</td>
      <td>SECCION</td>
      <td>CASILLAS</td>
      <td>PAN</td>
      <td>PRI</td>
    </tr>
    <tr>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>1</td>
      <td>3</td>
      <td>556</td>
      <td>355</td>
    </tr>
    <tr>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>2</td>
      <td>3</td>
      <td>505</td>
      <td>349</td>
    </tr>
    <tr>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>3</td>
      <td>4</td>
      <td>758</td>
      <td>399</td>
    </tr>
    <tr>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>4</td>
      <td>4</td>
      <td>471</td>
      <td>473</td>
    </tr>
    <tr>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>5</td>
      <td>2</td>
      <td>142</td>
      <td>337</td>
    </tr>
  </tbody>
</table>