<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Unnamed: 0</th>
      <th>Unnamed: 1</th>
      <th>Unnamed: 2</th>
      <th>Instituto Electoral del Estado de México</th>
      <th>Unnamed: 4</th>
      <th>Unnamed: 5</th>
      <th>Unnamed: 6</th>
      <th>Unnamed: 7</th>
      <th>Unnamed: 8</th>
      <th>Unnamed: 9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Secretaría Ejecutiva</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Resultados por Sección de Ayuntamientos 2015</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Cómputos Municipales</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>Municipio</td>
      <td>Cabecera Municipal</td>
      <td>Sección</td>
      <td>PAN</td>
      <td>PRI</td>
      <td>PRD</td>
      <td>PT</td>
      <td>PVEM</td>
      <td>MC</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>1</td>
      <td>432</td>
      <td>418</td>
      <td>14</td>
      <td>16</td>
      <td>53</td>
      <td>0</td>
      <td>48.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>2</td>
      <td>335</td>
      <td>481</td>
      <td>20</td>
      <td>18</td>
      <td>44</td>
      <td>0</td>
      <td>66.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>3</td>
      <td>563</td>
      <td>483</td>
      <td>37</td>
      <td>11</td>
      <td>49</td>
      <td>0</td>
      <td>82.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>4</td>
      <td>297</td>
      <td>592</td>
      <td>84</td>
      <td>12</td>
      <td>33</td>
      <td>0</td>
      <td>15.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>5</td>
      <td>186</td>
      <td>255</td>
      <td>11</td>
      <td>5</td>
      <td>19</td>
      <td>0</td>
      <td>7.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>ACAMBAY</td>
      <td>6</td>
      <td>260</td>
      <td>299</td>
      <td>8</td>
      <td>6</td>
      <td>23</td>
      <td>0</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>