<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename ='css/borrador.css') }}">
    <link rel="stylesheet" href="assets/css/home.css">
    <title>Borrador</title>
    <link type="text/css" rel="shortcut icon" href="{{ url_for('static', filename ='img_mun/15001.png') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <main class="principal">
            <nav>
                <ul>
                  <li><a href="/Mapa" class="botonReMa">REGRESAR</a></li>
                  <li><a onclick="autoScroll('RS')" >Rezago Social</a></li>
                  <li><a onclick="autoScroll('A')" >Apoyos</a></li>
                  <li><a onclick="autoScroll('E')" >Economía</a></li>
                  <li><a onclick="autoScroll('P')" >Población</a></li>
                  <li><a onclick="autoScroll('PR')" >Pobreza</a></li>
                  <li><a onclick="autoScroll('EM')" >Empleo</a></li>
                  <li><a onclick="autoScroll('D')" >Delincuencia</a></li>
                  <li><a onclick="autoScroll('PE')" >Padron Electoral</a></li>
                </ul>
            </nav>
            <div  class="container" id="Arribaxd">

                <!-- <div class="cont-img">
                    <img class="image2" src="static/img_menu/image.jpg">
                </div> -->
                

                <div class="overlay"></div>

                <div class="imagenMunicipio">
                    <img class="imagenMunicipio2" src="static/img_mun/15001.png">
                </div>

                <div class="municipio" >                  
                    <h1>Acambay</h1>
                    <div class="contenido">
                        <div class="datosv"> 
                            <span class="datos">16,992,418</span>
                            <h2 class="categoria">Población</h2>
                            <span class="year">2020</span> 
                        </div>
                        <div class="datosv">
                            <span class="datos">16,992,418</span>
                            <h2 class="categoria">Edad Media</h2>
                            <span class="year">2020</span> 
                        </div>

                        <div class="datosv">
                            <span class="datos">16,992,418</span>
                            <h2 class="categoria">Porcentaje de pobreza</h2>
                            <span class="year">2020</span> 
                        </div>
                        <div class="datosv"> 
                            <span class="datos">16,992,418</span>
                            <h2 class="categoria">PBI</h2>
                            <span class="year">2020</span> 
                        </div>
                        <div class="datosv">
                            <span class="datos">16,992,418</span>
                            <h2 class="categoria">Unidades Economicas</h2>
                            <span class="year">2020</span> 
                        </div>

                        <div class="datosv">
                            <span class="datos">16,992,418</span>
                            <h2 class="categoria">Salario Promedio</h2>
                            <span class="year">2020</span> 
                        </div>
                    </div>
                    
                </div>     
            </div> 
            <div class="grupoSec">
                <div id="RS" class="secciones">             
                    <h1>Rezago Social</h1>  
                    <h2>Año</h2>
                    <h2>Índice de rezago social</h2>
                    <h2>Grado de rezago social</h2>
                    <h2>Lugar nacional</h2>
                    <h1 class="sub">Vivienda</h1>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <!-- <h2>Viviendas con piso de tierra</h2>
                            <h2>Viviendas que no disponen de excusado o sanitario</h2>
                            <h2>Viviendas que no disponen de agua entubada de la red pública</h2>
                            <h2>Viviendas que no disponen de drenaje</h2>
                            <h2>Viviendas que no disponen de energía eléctrica</h2>
                            <h2>viviendas que no disponen de lavadora</h2>
                            <h2>Viviendas que no disponen de refrigerador</h2> -->
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GReSo"></canvas>
                        </div>
                    </div>  

                    <h1 class="sub">Carencias sociales</h1>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Poblacion sin derechohabiencia a servicios de salud</h2>
                            <h2>Coeficiente de Gini</h2>
                            <h2>Razón de ingreso</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GCarS"></canvas>
                        </div>
                    </div>  

                    <h1 class="sub">Educacion</h1>
                    <div class="bloques"> 
                        <div class="tarjeta">  
                            <h2>Población de 15 años o más analfabeta.</h2>
                            <h2>Poblacion de 6 a 14 años que no asiten a la escuela</h2>
                            <h2>Poblacion de 15 años o mas con educacion basica incompleta</h2>
                            <hr>     
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GEd"></canvas>
                        </div>
                    </div>  
                </div>

                <div id="A" class="secciones">   
                    <h1>Apoyos</h1>       
                    <div class="bloques"> 
                        <div class="tarjeta">   
                            <h2>Año</h2>
                            <h2>Periodo del apoyo</h2>
                            <h2>nombre del apoyo</h2>
                            <h2>numero de apoyos otorgados</h2>
                            <h2>tipo de apoyo: Estatal o Federal</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GApo"></canvas>
                        </div>
                    </div>          
                </div>

                <div id="E" class="secciones">                
                    <h1>Economía</h1>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Año</h2>
                            <h2>Producto Interno Bruto (PBI)</h2>
                            <h2>PBI PER Cápita</h2>
                            <h2>Unidades Economicas (UE)</h2>
                            <h2>Proporción Deuda Pública / Ingresos</h2>
                            <h2>Proporción servicio de Deuda / Ingresos</h2>
                            <h2>Obligaciones Corto Plazo / Ingresos</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GEco"></canvas>
                        </div>
                    </div>                  
                </div>

                <div id="P" class="secciones">                
                    <h1>Población</h1>
                    <h2>Año</h2>

                    <h1 class="sub">General</h1>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Poblacion total</h2>
                            <h2>Hombres</h2>
                            <h2>Mujeres</h2><hr>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficosPastel">
                            <canvas class="Graficos" id="GGene"></canvas>
                        </div>
                    </div>  

                    <h1 class="sub">Edad</h1>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Edad Mediana</h2>
                            <h2>Mediana Hombres</h2>
                            <h2>Mediana Mujeres</h2>
                            <h2>Relación Hombre-Mujer</h2>
                            <h2>Índice de envejecimiento total</h2>
                            <h2>Índice de envejecimiento Hombres</h2>
                            <h2>Índice de envejecimiento Mujeres</h2>
                            <h2>Razón de dependencia Total</h2>
                            <h2>Razón de dependencia Infantil</h2>
                            <h2>Razón de dependencia de Vejez</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GEdad"></canvas>
                        </div>
                    </div>  


                    <h1 class="sub">Lengua Índigena</h1>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Población de 3 años o más</h2>
                            <h2>Población que habla lengua índigena</h2>
                            <h2>Población índigena que habla español</h2>
                            <h2>Población índigena que no habla español</h2>
                            <h2>Población que no habla lengua índigena</h2><hr>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GLenI"></canvas>
                        </div>
                    </div>  

                    <h1 class="sub">Discapacidad</h1>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Total de personas con discapacidad</h2>
                            <h2>Total de personas con discapacidad total</h2>
                            <h2>total de personas con discapacidad parcial o limitaciones</h2>
                            <h2>Población con algún problema o condición mental</h2>
                            <h2>Población sin discapacidad, limitacion, problema o condición mental</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GDisc"></canvas>
                        </div>
                    </div>  

                    <h1 class="sub">Afiliaciones</h1>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Afiliados totales a sistemas de seguridad social</h2>
                            <h2>IMSS</h2>
                            <h2>ISSSTE</h2>
                            <h2>ISSSTE Estatal</h2>
                            <h2>Pemex, Defensa o Marina</h2>
                            <h2>INSABI</h2>
                            <h2>IMSS BIENESTAR</h2>
                            <h2>Institución privada</h2>
                            <h2>Otra afiliación</h2>
                            <h2>No afiliado</h2><hr>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficosPastel">
                            <canvas class="Graficos" id="GAfil"></canvas>
                        </div>
                    </div>  

                    <h1 class="sub">Localización</h1>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Vive en la entidad</h2>
                            <h2>Vive en otra entidad</h2>
                            <h2>Vive en EE. UU.</h2>
                            <h2>Viven en otro país</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficosPastel">
                            <canvas class="Graficos" id="GLoc"></canvas>
                        </div>
                    </div>  
                    
                    <h1 class="sub">Alimentación</h1>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Hogares</h2>
                            <h2>Con limitación alimentaria</h2>
                            <h2>Sin limitación alimentaria</h2>
                            <h2>Hogares con limitación alimentaria</h2>
                            <h2>Hogares sin limitación alimentaria</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GAli"></canvas>
                        </div>
                    </div>                      
                </div>

                <div id="PR" class="secciones">                
                    <h1>Pobreza</h1>    
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Año</h2>
                            <h2>Porcentaje de pobreza</h2>
                            <h2>Porcentaje de pobreza extrema</h2>
                            <h2>Pobreza extrema carencias promedio</h2>
                            <h2>Pobreza moderada</h2>
                            <h2>Porcentaje de no pobre y no vulnerable</h2>
                            <h2>Porcentaje de rezago educativo</h2>
                            <h2>Promedio de carencia de salud</h2>
                            <h2>Carencia Salud Carencias promedio</h2>
                            <h2>Porcentaje carencia Seguro Social</h2>
                            <h2>Porcentaje carencia de calidad de vivienda</h2>
                            <h2>Porcentaje carencia de servicios de vivienda</h2>
                            <h2>Porcentaje carencia de alimentación</h2>
                            <h2>Porcentaje de ingreso inferior pobreza</h2>
                            <h2>Porcentaje de ingreso inferior pobreza extrema</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GPobr"></canvas>
                        </div>
                    </div>  
                </div>

                <div id="EM" class="secciones">                
                    <h1>Empleo</h1>    
                    <h2>Año</h2>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Agricultura, Ganaderia, Silvicultura, Pesca y Caza</h2>
                            <h2>Comercio</h2>
                            <h2>Industria Electrica y Captación, y suministro de Agua Potable</h2>
                            <h2>Industrias de la Construccion</h2>
                            <h2>Industrias de Transformación</h2>
                            <h2>Industrias de Transformación 2</h2>
                            <h2>Industrias Extractivas</h2>
                            <h2>Servicios para Empresas, Personas y el Hogar</h2>
                            <h2>Servicios Sociales y Comunales</h2>
                            <h2>Transportes y comunicaciones</h2>
                            <h2>total General</h2>
                            <h2>Salario Promedio</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GEmp"></canvas>
                        </div>
                    </div>  
                </div>

                <div id="D" class="secciones">                
                    <h1>Delincuencia</h1>    
                    <h2>Año</h2>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Delitos de alto impacto</h2>
                            <h2>Homicidios</h2>
                            <h2>Feminicidios</h2>
                            <h2>Secuestros</h2>
                            <h2>Desapariciones totales</h2>
                            <h2>Robos</h2>
                            <h2>Robos transporte</h2>
                            <h2>Violencia de género en todas sus modalidades distinta a la violencia familiar</h2>
                            <h2>Violencia familiar</h2>
                            <h2>Violencia general</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GDeli"></canvas>
                        </div>
                    </div> 
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Desapariciones hombres</h2>
                            <h2>Desapariciones mujeres</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficosPastel">
                            <canvas class="Graficos" id="GDeliHyM"></canvas>
                        </div>
                    </div>                      
                </div>

                <div id="PE" class="secciones">                
                    <h1>Padron Electoral</h1>    
                    <h2>Año</h2>
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h2>Padrón hombres</h2>
                            <h2>Padrón mujeres</h2>
                            <h2>Padrón total</h2>
                            <h2>Lista nominal hombres</h2>
                            <h2>Lista nominal mujeres</h2>
                            <h2>Lista nominal, poblacion que cuenta con credencial para votar vigente</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore delectus atque! In consequuntur optio blanditiis. Nobis in mollitia deleniti omnis sint exercitationem inventore accusamus distinctio? Quaerat, vitae itaque. Accusantium.</p>
                        </div>  
                        <div class="ContenedorGraficosPastel">
                            <canvas class="Graficos" id="GPaE"></canvas>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="Fondo" id="Abajoxd">
            </div>

        </main>    
        <script src="{{ url_for('static', filename ='js/borrador.js') }}"> </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </body>
</html>