<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename ='css/borrador.css') }}">
    <link rel="stylesheet" href="assets/css/home.css">
    <title id="tituloM"></title>
    <link id="imagenM" type="text/css" rel="shortcut icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <main class="principal" >
            <nav  id="Arribaxd">
                <ul>
                  <li><a href="/Mapa" class="botonReMa">REGRESAR</a></li>
                  <li><a onclick="autoScroll('RS')" >Rezago Social</a></li>
                  <li><a onclick="autoScroll('A')" >Apoyos</a></li>
                  <li><a onclick="autoScroll('E')" >Economía</a></li>
                  <li><a onclick="autoScroll('P')" >Población</a></li>
                  <li><a onclick="autoScroll('PR')" >Pobreza</a></li>
                  <li><a onclick="autoScroll('EM')" >Empleo</a></li>
                  <li><a onclick="autoScroll('D')" >Delincuencia</a></li>
                  <li><a onclick="autoScroll('PE')" >Padron Electoral</a></li>
                </ul>
            </nav>
            <div  class="container">
                <div class="overlay"></div>

                <div class="imagenMunicipio">
                    <img class="imagenMunicipio2" id="imagenMunicipio22">
                </div>

                <div class="municipio" >                  
                    <h1 id="nommbreMun"></h1>
                    <div class="contenido">
                        <div class="datosv"> 
                            <span class="datos" id="tituloPoblacion"></span>
                            <h2 class="categoria">Población</h2>
                            <span class="year" id="tituloPoblacionA"></span> 
                        </div>
                        <div class="datosv">
                            <span class="datos" id="tituloEdad"></span>
                            <h2 class="categoria">Edad Media</h2>
                            <span class="year" id="tituloEdadA"></span> 
                        </div>

                        <div class="datosv">
                            <span class="datos" id="tituloPobreza"></span>
                            <h2 class="categoria">Porcentaje de pobreza</h2>
                            <span class="year" id="tituloPobrezaA"></span> 
                        </div>
                        <div class="datosv"> 
                            <span class="datos" id="tituloPIB"></span>
                            <h2 class="categoria">PIB</h2>
                            <span class="year" id="tituloPIBA"></span> 
                        </div>
                        <div class="datosv">
                            <span class="datos" id="tituloUE"></span>
                            <h2 class="categoria">Unidades Económicas</h2>
                            <span class="year" id="tituloUEA"></span> 
                        </div>

                        <div class="datosv">
                            <span class="datos" id="tituloSalario"></span>
                            <h2 class="categoria">Salario Promedio</h2>
                            <span class="year" id="tituloSalarioA"></span> 
                        </div>
                    </div>
                </div>     
            </div> 

            <div class="grupoSec">
                <div id="RS" class="secciones">  
                    <div class="titulo">
                        <h1 class="tituloSec">Rezago Social</h1>
                        <span class="year" id="reYear"></span> 
                    </div>
                    <!-- <h1>Rezago Social  - <span class="year">2021</span> </h1>   -->
                    <br>
                    <div class="bloques"> 
                        <div class="cajas"> 
                            <div class="datosv">
                                <span class="datos" id="indiceRe"></span>
                                <h2 class="categoria">Índice de rezago social</h2>
                            </div>
                            <div class="datosv">
                                <span class="datos" id="gradoRe"></span>
                                <h2 class="categoria">Grado de rezago social</h2>
                            </div>
                            <div class="datosv">
                                <span class="datos" id="posicionRe"> </span>
                                <h2 class="categoria">Lugar nacional</h2>
                            </div>    
                            <div class="datosv">
                                <span class="datos" id="sinSalud"></span>
                                <h2 class="categoria">Población sin derechohabiencia a servicios de salud</h2>
                            </div>
                            <div class="datosv">
                                <span class="datos" id="gini"></span>
                                <h2 class="categoria">Coeficiente de Gini</h2>
                            </div>
                            <div class="datosv">
                                <span class="datos" id="razonI"></span>
                                <h2 class="categoria">Razón de ingreso</h2>
                            </div>
                            <p>El coeficiente o índice de Gini es una medida estadística diseñada para representar la distribución de los ingresos de los habitantes, en concreto, la inequidad entre ellos. Los índices más cercanos a 0 representan una mayor equidad entre sus habitantes, mientras que los valores cercanos a 1 expresan una máxima inequidad en la población.</p>
                        </div> 
                    </div> 

                    
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h1 class="sub">Vivienda</h1>
                            <p>En el municipio, las condiciones de construcción de las viviendas habitadas presentan variaciones importantes en cuanto a sus carencias de servicios públicos, como el acceso a agua potable, energía eléctrica o la conexión de drenaje. Además, se observan carencias derivadas de estos servicios, como la falta de sanitarios, entre otros.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GReSo"></canvas>
                        </div>
                    </div>   
                    <div class="bloques"> 
                        <div class="tarjeta">  
                            <h1 class="sub">Educación</h1>
                            <p>El primer componente del rezago educativo se refiere a la población de 6 a 14 años que no asiste a la escuela o que sí asiste pero no está cursando el nivel educativo correspondiente.
                            El segundo componente del rezago educativo se refiere a la población de 15 años o más que no ha completado la educación básica o que se encuentra en situación de analfabetismo.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GEd"></canvas>
                        </div>
                    </div>  
                </div>

                <div id="A" class="secciones">
                    <div class="titulo">
                        <h1 class="tituloSec">Apoyos</h1>
                    </div>   
                    <div class="cajas">
                        <p>Lograr familias fuertes en los municipios implica que todos los miembros de la familia, en todas las etapas de sus vidas, tengan la oportunidad de desarrollarse plenamente. Esto implica abordar de manera directa e indirecta temas como la reducción de desigualdades, la promoción de la salud y el bienestar, la garantía de una educación de calidad y la prevención de la violencia intrafamiliar, especialmente para niños, niñas, adolescentes y grupos vulnerables. Para lograrlo, en el municipio se han otorgado los siguientes apoyos que atienden diversas necesidades de los ciudadanos:</p>
                    </div>
                    <select id="opcionApo">
                        <option disabled selected>Elije una opción</option>
                    </select>
                    <div class="bloques" id="tablaApo"> 
                        <div class="ContenedorGraficos" id="GApo"></div>
                    </div>          
                </div>

                <div id="E" class="secciones">  
                    <div class="titulo">
                        <h1 class="tituloSec">Economía</h1>
                        <span class="year" id="economiaYear"></span> 
                    </div>              
                    <div class="bloques"> 
                        <div class="tarjeta" id="tarjetaEco"> 
                            <div class="datosv">
                                <span class="datos" id="etiquetaPib"></span>
                                <h2 class="categoria">Producto Interno Bruto (PIB)</h2>
                            </div>
                            <div class="datosv">
                                <span class="datos" id="etiquetaPer"></span>
                                <h2 class="categoria">PIB PER Cápita</h2>
                            </div>
                            <p>El gráfico de lineas muestra la evolución anual que ha sufrido el Producto Interno Bruto (PIB) a través de los años.</p>
                        
                            <div class="ContenedorGraficos" id="lineas">
                                <canvas class="Graficos" id="GEco"></canvas>
                            </div>
                        </div>  
                        <div class="ContenedorGraficos" id="contenedorEco">
                            <br><br><br><br><p>Por su parte, el gráfico de barras muestra el número de unidades económicas totales en el municipio, además de incluir la proporción de ingresos en sus distintas variables.</p>
                            <canvas class="Graficos" id="GEco2"></canvas>
                        </div>
                    </div>                  
                </div>

                <div id="P" class="secciones">  
                    <div class="titulo">
                        <h1 class="tituloSec">Población</h1>
                        <span class="year" id="pobYear"></span> 
                    </div>    
                    <div class="bloques"> 
                        <div class="tarjeta" id="tarjetaPob"> 
                            <p id="parrafoPob"></p>
                            <select id="opcionPob">
                                <option disabled selected>Elije una opción</option>
                            </select>
                            <div class="ContenedorGraficosPastel" id="contenedorPastel1">
                                <canvas class="GraficosPastel" id="GGene"></canvas>
                            </div>
                        
                        </div>  
                        <div class="tarjeta" id="tarjetaEdad">
                            <h1 class="sub">Edad</h1>
                            <p>En la gráfica se muestra la mediana que existe entre los rangos de edad de la población, además de integrar los índices de envejecimiento y las razones de dependencia.</p>
                            <canvas class="Graficos" id="GEdad"></canvas>
                        </div>
                    </div>  

                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h1 class="sub">Lengua Índigena</h1>
                            <p>La gráfica presenta los datos totales de la población que habla alguna lengua indígena, así como aquellos que hablan exclusivamente español. También se incluyen aquellos que hablan ambos idiomas simultáneamente.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GLenI"></canvas>
                        </div>
                    </div>  

                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h1 class="sub">Discapacidad</h1>
                            <p>Según la Clasificación Internacional del Funcionamiento, de la Discapacidad y de la Salud (CIF), se define la discapacidad como las deficiencias, limitaciones de la actividad y restricciones a la participación de una persona (OMS, 2018)</p>
                            <p>En el gráfico de pastel podemos observar de forma ilustrativa el total de la población, y qué porción de la misma padece alguna discapacidad.</p>
                            <p>En este sentido, en el siguiente gráfico de barras se muestra el número de personas que padecen estas según su clasificación.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GDisc"></canvas>
                        </div>
                    </div>  

                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <h1 class="sub">Localización</h1>
                            <p>La gráfica muestra la proporción de migración que existe dentro del municipio, tanto a nivel interno como externo.</p>
                            <select id="opcionLoc">
                                <option disabled selected>Elije una opción</option>
                            </select>
                            <div class="ContenedorGraficosPastel" id="contenedorPastel2">
                                <canvas class="GraficosPastel" id="GLoc"></canvas>
                            </div>
                            
                        </div>  
                        <div class="tarjeta"> 
                            <h1 class="sub">Afiliaciones</h1>
                            <div class="datosv">
                                <span class="datos" id="etquetaAfil"></span>
                                <h2 class="categoria">Afiliados totales a sistemas de seguridad social</h2>
                            </div>
                            <p id="parrafoAfil"></p>
                            <select id="opcionAfil">
                                <option disabled selected>Elije una opción</option>
                            </select>
                            <div class="ContenedorGraficosPastel" id="contenedorPastel3">
                                <canvas class="GraficosPastel" id="GAfil"></canvas>
                            </div>                            
                        </div>  
                        <div class="tarjeta">                             
                            <h1 class="sub">Alimentación</h1>
                            <div class="datosv">
                                <span class="datos" id="etiquetaAli"></span>
                                <h2 class="categoria">Hogares</h2>
                            </div>
                            <p id="parrafoAlimentacion"></p>
                            <select id="opcionAlim">
                                <option disabled selected>Elije una opción</option>
                            </select>
                            <div class="ContenedorGraficosPastel" id="contenedorPastel4">
                                <canvas class="GraficosPastel" id="GAli"></canvas>
                            </div>   
                        </div>  
                    </div>                      
                </div>

                <div id="PR" class="secciones">
                    <div class="titulo">
                        <h1 class="tituloSec">Pobreza</h1>
                        <span class="year" id="poYear"></span> 
                    </div>            
                    <!-- <h2>Año</h2>     -->
                    <div class="bloques"> 
                        <div class="tarjeta">
                            <p>De acuerdo con el Consejo Nacional de Evaluación de la Política de Desarrollo Social, una persona está en situación de pobreza cuando tiene al menos una carencia social (educación, salud, seguridad, vivienda, servicios básicos y alimentación), así como cuando no puede obtener bienes y servicios para satisfacer sus necesidades básicas (CONEVAL, 2010).</p>
                            <p>En el gráfico se muestran los porcentajes de la población que se encuentran en situación de pobreza en sus distintas variables, junto con la visualización de los niveles de rezago y carencias en aspectos fundamentales como vivienda, seguro social y alimentación.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GPobr"></canvas>
                        </div>
                    </div>  
                </div>

                <div id="EM" class="secciones"> 
                    <div class="titulo">
                        <h1 class="tituloSec">Empleo</h1>
                        <span class="year" id="emYear"></span> 
                    </div>         
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <div class="datosv">
                                <span class="datos" id="etiquetaTota"></span>
                                <h2 class="categoria">Total General</h2>
                            </div>
                            <div class="datosv">
                                <span class="datos" id="etiquetaSa"></span>
                                <h2 class="categoria">Salario Promedio</h2>
                            </div>
                            <p >Con el fin de obtener una perspectiva sobre la distribución del empleo formal entre los diferentes sectores en el municipio, se presenta en la gráfica una comparación de las diferentes industrias.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GEmp"></canvas>
                        </div>
                    </div>  
                </div>

                <div id="D" class="secciones"> 
                    <div class="titulo">
                        <h1 class="tituloSec">Delincuencia</h1>
                    </div>           
                                        
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <p>La delincuencia dentro del municipio es un desafío persistente que se ha intentado contrarrestar a lo largo de los años. A pesar de los esfuerzos, aún existen numerosos casos que generan una sensación de inseguridad en la población.</p>
                            <p>En el gráfico se presenta el número de delitos ocurridos en el municipio durante el año 2022, clasificados por categoría. Se destaca que los delitos de alto impacto y los robos tienen los índices más altos de ocurrencia.</p>
                        </div>  
                        <div class="ContenedorGraficos">
                            <canvas class="Graficos" id="GDeli"></canvas>
                        </div>
                        <div class="tarjeta"> 
                            <p id="parrafoDeli"></p>
                            <canvas class="GraficosPastel" id="GDeliHyM"></canvas>
                        </div>  
                        <div class="ContenedorGraficosPastel"></div>
                    </div>                      
                </div>

                <div id="PE" class="secciones">
                    <div class="titulo">
                        <h1 class="tituloSec">Padrón Electoral</h1>
                        <span class="year" id="paeleYear"></span> 
                    </div>                
                    <div class="bloques"> 
                        <div class="tarjeta"> 
                            <div class="datosv">
                                <span class="datos" id="etiquetaP"></span>
                                <h2 class="categoria">Padrón total</h2>
                            </div>
                            <div class="datosv">
                                <span class="datos" id="etiquetaLista"></span>
                                <h2 class="categoria">Lista nominal</h2>
                            </div>
                            <p>El padrón electoral es la base de datos que contiene la información de todos los ciudadanos mexicanos que han solicitado su inscripción al mismo, con la finalidad de obtener su credencial para votar con fotografía y así ejercer su derecho al voto. <br>                            En la lista nominal se encuentran todos aquellos ciudadanos que solicitaron su inscripción al Padrón Electoral y cuentan ya con su credencial para votar con fotografía vigente.</p>
                        </div>  
                        <div class="ContenedorGraficosPastel">                            
                            <select id="opcionPadron">
                                <option disabled selected>Elije una opción</option>
                            </select>
                            <div id="contenedorP">
                                <canvas class="GraficosPastel" id="GPaE"></canvas>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="Fondo" id="Abajoxd">
            </div>

        </main>   
        <div class="Fondo">
            <button onclick="autoScroll('Arribaxd')" class="BSubir"><img src="{{ url_for('static', filename ='img_menu/flecha.png') }}" alt=""></button>
        </div> 
        <script src="{{ url_for('static', filename ='js/variables.js') }}"> </script>
        <script src="{{ url_for('static', filename ='js/dataMunicipal.js') }}"> </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </body>
</html>