<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename ='css/borrador.css') }}">
    <link rel="stylesheet" href="assets/css/home.css">
    <title>Borrador</title>
    <link type="text/css" rel="shortcut icon" href="{{ url_for('static', filename ='img_menu/borrador.png') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <main class="principal">
            <nav>
                <ul>
                  <li><a href="/Mapa" class="botonReMa">REGRESAR</a></li>
                  <li><a onclick="autoScroll('RS')" >Rezago Social</a></li>
                  <li><a onclick="autoScroll('A')" >Apoyos</a></li>
                  <li><a onclick="autoScroll('E')" >Economía</a></li>
                  <li><a onclick="autoScroll('P')" >Población</a></li>
                  <li><a onclick="autoScroll('PR')" >Pobreza</a></li>
                  <li><a onclick="autoScroll('EM')" >Empleo</a></li>
                  <li><a onclick="autoScroll('D')" >Delincuencia</a></li>
                </ul>
            </nav>
            <div  class="container" id="Arribaxd">
                
                    <img class="image2" src="static/img_menu/image.jpg">
                

                <div class="overlay"></div>

                <div class="imagenMunicipio">
                    <img class="imagenMunicipio2" src="static/img_mun/mun_acambay.png">
                </div>

                <div class="municipio" >                  
                    <h1>Acambay</h1>  
                </div>     
            </div> 

            <div id="RS" class="secciones">                
                <h1>Rezago Social</h1>  
                <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti mollitia nobis blanditiis. Tempora commodi praesentium unde eos exercitationem porro beatae ducimus, ipsum quae, quisquam doloribus a, odio consequuntur velit reiciendis.</h2>
            
            </div>

            <div id="A" class="secciones">                
                <h1>Apoyos</h1>    
                <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti mollitia nobis blanditiis. Tempora commodi praesentium unde eos exercitationem porro beatae ducimus, ipsum quae, quisquam doloribus a, odio consequuntur velit reiciendis.</h2>
            
            </div>

            <div id="E" class="secciones">                
                <h1>Economía</h1>    
                <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti mollitia nobis blanditiis. Tempora commodi praesentium unde eos exercitationem porro beatae ducimus, ipsum quae, quisquam doloribus a, odio consequuntur velit reiciendis.</h2>
            
            </div>

            <div id="P" class="secciones">                
                <h1>Población</h1>    
                <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti mollitia nobis blanditiis. Tempora commodi praesentium unde eos exercitationem porro beatae ducimus, ipsum quae, quisquam doloribus a, odio consequuntur velit reiciendis.</h2>
            
            </div>

            <div id="PR" class="secciones">                
                <h1>Pobreza</h1>    
                <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti mollitia nobis blanditiis. Tempora commodi praesentium unde eos exercitationem porro beatae ducimus, ipsum quae, quisquam doloribus a, odio consequuntur velit reiciendis.</h2>
            
            </div>

            <div id="EM" class="secciones">                
                <h1>Empleo</h1>    
                <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti mollitia nobis blanditiis. Tempora commodi praesentium unde eos exercitationem porro beatae ducimus, ipsum quae, quisquam doloribus a, odio consequuntur velit reiciendis.</h2>
            
            </div>

            <div id="D" class="secciones">                
                <h1>Delincuencia</h1>    
                <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti mollitia nobis blanditiis. Tempora commodi praesentium unde eos exercitationem porro beatae ducimus, ipsum quae, quisquam doloribus a, odio consequuntur velit reiciendis.</h2>
            
            </div>

            <div class="Fondo" id="Abajoxd">
            </div>

        </main>    
        <script src="{{ url_for('static', filename ='js/borrador.js') }}"> </script>
    </body>
</html>