<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for('static', filename ='css/data.css') }}">
    <title>Datos</title>
    <link type="text/css" rel="shortcut icon" href="{{ url_for('static', filename ='img_mun/15001.png') }}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
    <body>
        <div  class="topBar" id="Arribaxd">    

        </div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a onclick="autoScroll('RS')">
                        <i class="fa rzg_scl" ><img class="imagenes_menu" src="static/img_menu/rezago.png"></i>
                        <span class="menu_texto">
                            Rezago Social
                        </span>
                    </a>
                
                </li>
                <li class="has-subnav">
                    <a onclick="autoScroll('A')">
                        <i class="fa pys"><img class="imagenes_menu" src="static/img_menu/apoyos.png"></i>
                        <span class="menu_texto">
                            Apoyos
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a onclick="autoScroll('E')">
                    <i class="fa cnm"><img class="imagenes_menu" src="static/img_menu/economia.png"></i>
                        <span class="menu_texto">
                            Economía
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a onclick="autoScroll('P')">
                    <i class="fa pblcn"><img class="imagenes_menu" src="static/img_menu/poblacion.png"></i>
                        <span class="menu_texto">
                            Población
                        </span>
                    </a>
                </li>
                <li>
                    <a onclick="autoScroll('PR')">
                        <i class="fa pbrz"><img class="imagenes_menu" src="static/img_menu/pobreza.png"></i>
                        <span class="menu_texto">
                            Pobreza
                        </span>
                    </a>
                </li>
                <li>
                    <a onclick="autoScroll('EM')">
                        <i class="fa mpl"><img class="imagenes_menu" src="static/img_menu/empleo.png"></i>
                        <span class="menu_texto">
                            Empleo
                        </span>
                    </a>
                </li>
                <li>
                <a onclick="autoScroll('D')">
                    <i class="fa dlncnc"><img class="imagenes_menu" src="static/img_menu/delincuencia.png"></i>
                        <span class="menu_texto">
                            Delincuencia
                        </span>
                    </a>
                </li>
                <li>
                <a href="/Mapa">
                    <i class="fa dlncnc"><img class="imagenes_menu" src="static/img_menu/regreso.png"></i>
                        <span class="menu_texto">
                            Regresar
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                <a href="/">
                        <i class="fa Slr"><img class="imagenes_menu" src="static/img_menu/salir.png"></i>
                        <span class="menu_texto">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>

        <div  class="container">             

            <div class="overlay"></div>

            <div class="imagenMunicipio">
                <img class="imagenMunicipio2" src="static/img_mun/15001.png">
            </div>
            <div class="municipio" >                  
                <h1>Acambay</h1>
                <div class="contenido">
                    <div class="datosv"> 
                        <span class="datos">16,992,418</span>
                        <h2 class="categoria">Población</h2>
                        <span class="year">2020</span> 
                    </div>
                    <div class="datosv">
                        <span class="datos">16,992,418</span>
                        <h2 class="categoria">Edad Media</h2>
                        <span class="year">2020</span> 
                    </div>
                    <div class="datosv">
                        <span class="datos">16,992,418</span>
                        <h2 class="categoria">Porcentaje de pobreza</h2>
                        <span class="year">2020</span> 
                    </div>
                    <div class="datosv"> 
                        <span class="datos">16,992,418</span>
                        <h2 class="categoria">PBI</h2>
                        <span class="year">2020</span> 
                    </div>
                    <div class="datosv">
                        <span class="datos">16,992,418</span>
                        <h2 class="categoria">Unidades Economicas</h2>
                        <span class="year">2020</span> 
                    </div>
                    <div class="datosv">
                        <span class="datos">16,992,418</span>
                        <h2 class="categoria">Salario Promedio</h2>
                        <span class="year">2020</span> 
                    </div>
                </div>
            </div>     
        </div> 


    </body>
</html>