<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Add Material CSS, replace Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/filtro.css') }}">
    <link rel="stylesheet" href="assets/css/filtro.css">
    <title> ANALIZADOR</title>
    <link type="text/css" rel="shortcut icon" href="{{ url_for('static', filename ='imgs/excel.png') }}"/>
    <style>
    img{
     width: 100%;
     width: 200px;
    }
    section{
      top: 0;
      margin-top: -16px;
      width: 100%;
      color: #fff;
      background-color: #27b05c;
    }
    </style>
  </head>
  <body>
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename ='js/material.min.js') }}">
<div class='contenedor'>
  <h1>Seleccione las columnas deseadas</h1>
 <label class='archivo' id='1.xlsx'></label>
</div>
<div class='boton'>
  <button type='button' class='enviar'>Enviar</button>
</div>
<div class='filtro'>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox1'value='CIRCUNSCRIPCION'> CIRCUNSCRIPCION</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox2'value='ID_ESTADO'> ID_ESTADO</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox3'value='NOMBRE_ESTADO'> NOMBRE_ESTADO</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox4'value='ID_DISTRITO'> ID_DISTRITO</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox5'value='CABECERA_DISTRITAL'> CABECERA_DISTRITAL</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox6'value='ID_MUNICIPIO'> ID_MUNICIPIO</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox7'value='MUNICIPIO'> MUNICIPIO</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox8'value='SECCION'> SECCION</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox9'value='CASILLAS'> CASILLAS</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox10'value='PAN'> PAN</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox11'value='PRI'> PRI</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox12'value='PRD'> PRD</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox13'value='PT'> PT</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox14'value='PVEM'> PVEM</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox15'value='NVA_ALIANZA'> NVA_ALIANZA</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox16'value='MORENA'> MORENA</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox17'value='ES'> ES</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox18'value='PRI_PVEM_NVA_ALIANZA_ES'> PRI_PVEM_NVA_ALIANZA_ES</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox19'value='PRI_PVEM_NVA_ALIANZA'> PRI_PVEM_NVA_ALIANZA</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox20'value='PRI_PVEM_ES'> PRI_PVEM_ES</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox21'value='PRI_NVA_ALIANZA_ES'> PRI_NVA_ALIANZA_ES</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox22'value='PRI_PVEM'> PRI_PVEM</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox23'value='PRI_NVA_ALIANZA'> PRI_NVA_ALIANZA</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox24'value='PRI_ES'> PRI_ES</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox25'value='PVEM_NVA_ALIANZA_ES'> PVEM_NVA_ALIANZA_ES</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox26'value='PVEM_NVA_ALIANZA'> PVEM_NVA_ALIANZA</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox27'value='PVEM_ES'> PVEM_ES</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox28'value='NVA_ALIANZA_ES'> NVA_ALIANZA_ES</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox29'value='CAND_IND1'> CAND_IND1</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox30'value='NUM_VOTOS_CAN_NREG'> NUM_VOTOS_CAN_NREG</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox31'value='NUM_VOTOS_VALIDOS'> NUM_VOTOS_VALIDOS</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox32'value='NUM_VOTOS_NULOS'> NUM_VOTOS_NULOS</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox33'value='TOTAL_VOTOS'> TOTAL_VOTOS</label>
<label class='chbox'><input type='checkbox' class='cbox' id='cbox34'value='LISTA_NOMINAL'> LISTA_NOMINAL</label>
</div>


<div class='tabla'>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>CIRCUNSCRIPCION</th>
      <th>ID_ESTADO</th>
      <th>NOMBRE_ESTADO</th>
      <th>ID_DISTRITO</th>
      <th>CABECERA_DISTRITAL</th>
      <th>ID_MUNICIPIO</th>
      <th>MUNICIPIO</th>
      <th>SECCION</th>
      <th>CASILLAS</th>
      <th>PAN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>1</td>
      <td>3</td>
      <td>170.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>2</td>
      <td>3</td>
      <td>146.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>3</td>
      <td>3</td>
      <td>164.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>4</td>
      <td>3</td>
      <td>155.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>5</td>
      <td>2</td>
      <td>61.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>6</td>
      <td>2</td>
      <td>130.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>7</td>
      <td>2</td>
      <td>120.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>8</td>
      <td>1</td>
      <td>63.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>9</td>
      <td>2</td>
      <td>83.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>10</td>
      <td>2</td>
      <td>101.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>11</td>
      <td>3</td>
      <td>101.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>12</td>
      <td>2</td>
      <td>98.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>13</td>
      <td>3</td>
      <td>188.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>14</td>
      <td>4</td>
      <td>200.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>15</td>
      <td>3</td>
      <td>124.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>16</td>
      <td>3</td>
      <td>176.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>17</td>
      <td>3</td>
      <td>196.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>18</td>
      <td>2</td>
      <td>89.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>19</td>
      <td>3</td>
      <td>179.0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>15</td>
      <td>MEXICO</td>
      <td>14</td>
      <td>JILOTEPEC DE ANDRES MOLINA ENRIQUEZ</td>
      <td>1</td>
      <td>ACAMBAY DE RUIZ CASTAÑEDA</td>
      <td>20</td>
      <td>3</td>
      <td>159.0</td>
    </tr>
  </tbody>
</table>
<div class='aux'>{{ tabla }}</div>

</div><div class='contenedor2'>

<h1>Seleccione el municipio deseado</h1>
</div>

<div class='boton2'>
  <button type='button' class='filtrar'>Enviar</button>
</div>

<label class='archivo2' id='c:\Users\ivanc\OneDrive\Documentos\Interfaz\prueba\app/static/archivos/1.xlsx'></label>
<div class='filtro2'>
<i><input type='radio' id='Acambay' name='group1' value='Acambay'><label class='rad' for='radio'>Acambay</label></i>
<i><input type='radio' id='Acolman' name='group1' value='Acolman'><label class='rad' for='radio'>Acolman</label></i>
<i><input type='radio' id='Aculco' name='group1' value='Aculco'><label class='rad' for='radio'>Aculco</label></i>
<i><input type='radio' id='Almoloya de Alquisiras' name='group1' value='Almoloya de Alquisiras'><label class='rad' for='radio'>Almoloya de Alquisiras</label></i>
<i><input type='radio' id='Almoloya de Juárez' name='group1' value='Almoloya de Juárez'><label class='rad' for='radio'>Almoloya de Juárez</label></i>
<i><input type='radio' id='Almoloya del Río' name='group1' value='Almoloya del Río'><label class='rad' for='radio'>Almoloya del Río</label></i>
<i><input type='radio' id='Amanalco' name='group1' value='Amanalco'><label class='rad' for='radio'>Amanalco</label></i>
<i><input type='radio' id='Amatepec' name='group1' value='Amatepec'><label class='rad' for='radio'>Amatepec</label></i>
<i><input type='radio' id='Amecameca' name='group1' value='Amecameca'><label class='rad' for='radio'>Amecameca</label></i>
<i><input type='radio' id='Apaxco' name='group1' value='Apaxco'><label class='rad' for='radio'>Apaxco</label></i>
<i><input type='radio' id='Atenco' name='group1' value='Atenco'><label class='rad' for='radio'>Atenco</label></i>
<i><input type='radio' id='Atizapán' name='group1' value='Atizapán'><label class='rad' for='radio'>Atizapán</label></i>
<i><input type='radio' id='Atizapán de Zaragoza' name='group1' value='Atizapán de Zaragoza'><label class='rad' for='radio'>Atizapán de Zaragoza</label></i>
<i><input type='radio' id='Atlacomulco' name='group1' value='Atlacomulco'><label class='rad' for='radio'>Atlacomulco</label></i>
<i><input type='radio' id='Atlautla' name='group1' value='Atlautla'><label class='rad' for='radio'>Atlautla</label></i>
<i><input type='radio' id='Axapusco' name='group1' value='Axapusco'><label class='rad' for='radio'>Axapusco</label></i>
<i><input type='radio' id='Ayapango' name='group1' value='Ayapango'><label class='rad' for='radio'>Ayapango</label></i>
<i><input type='radio' id='Calimaya' name='group1' value='Calimaya'><label class='rad' for='radio'>Calimaya</label></i>
<i><input type='radio' id='Capulhuac' name='group1' value='Capulhuac'><label class='rad' for='radio'>Capulhuac</label></i>
<i><input type='radio' id='Coacalco de Berriozábal' name='group1' value='Coacalco de Berriozábal'><label class='rad' for='radio'>Coacalco de Berriozábal</label></i>
<i><input type='radio' id='Coatepec Harinas' name='group1' value='Coatepec Harinas'><label class='rad' for='radio'>Coatepec Harinas</label></i>
<i><input type='radio' id='Cocotitlán' name='group1' value='Cocotitlán'><label class='rad' for='radio'>Cocotitlán</label></i>
<i><input type='radio' id='Coyotepec' name='group1' value='Coyotepec'><label class='rad' for='radio'>Coyotepec</label></i>
<i><input type='radio' id='Cuautitlán' name='group1' value='Cuautitlán'><label class='rad' for='radio'>Cuautitlán</label></i>
<i><input type='radio' id='Chalco' name='group1' value='Chalco'><label class='rad' for='radio'>Chalco</label></i>
<i><input type='radio' id='Chapa de Mota' name='group1' value='Chapa de Mota'><label class='rad' for='radio'>Chapa de Mota</label></i>
<i><input type='radio' id='Chapultepec' name='group1' value='Chapultepec'><label class='rad' for='radio'>Chapultepec</label></i>
<i><input type='radio' id='Chiautla' name='group1' value='Chiautla'><label class='rad' for='radio'>Chiautla</label></i>
<i><input type='radio' id='Chicoloapan' name='group1' value='Chicoloapan'><label class='rad' for='radio'>Chicoloapan</label></i>
<i><input type='radio' id='Chiconcuac' name='group1' value='Chiconcuac'><label class='rad' for='radio'>Chiconcuac</label></i>
<i><input type='radio' id='Chimalhuacán' name='group1' value='Chimalhuacán'><label class='rad' for='radio'>Chimalhuacán</label></i>
<i><input type='radio' id='Donato Guerra' name='group1' value='Donato Guerra'><label class='rad' for='radio'>Donato Guerra</label></i>
<i><input type='radio' id='Ecatepec de Morelos' name='group1' value='Ecatepec de Morelos'><label class='rad' for='radio'>Ecatepec de Morelos</label></i>
<i><input type='radio' id='Ecatzingo' name='group1' value='Ecatzingo'><label class='rad' for='radio'>Ecatzingo</label></i>
<i><input type='radio' id='Huehuetoca' name='group1' value='Huehuetoca'><label class='rad' for='radio'>Huehuetoca</label></i>
<i><input type='radio' id='Hueypoxtla' name='group1' value='Hueypoxtla'><label class='rad' for='radio'>Hueypoxtla</label></i>
<i><input type='radio' id='Huixquilucan' name='group1' value='Huixquilucan'><label class='rad' for='radio'>Huixquilucan</label></i>
<i><input type='radio' id='Isidro Fabela' name='group1' value='Isidro Fabela'><label class='rad' for='radio'>Isidro Fabela</label></i>
<i><input type='radio' id='Ixtapaluca' name='group1' value='Ixtapaluca'><label class='rad' for='radio'>Ixtapaluca</label></i>
<i><input type='radio' id='Ixtapan de la Sal' name='group1' value='Ixtapan de la Sal'><label class='rad' for='radio'>Ixtapan de la Sal</label></i>
<i><input type='radio' id='Ixtapan del Oro' name='group1' value='Ixtapan del Oro'><label class='rad' for='radio'>Ixtapan del Oro</label></i>
<i><input type='radio' id='Ixtlahuaca' name='group1' value='Ixtlahuaca'><label class='rad' for='radio'>Ixtlahuaca</label></i>
<i><input type='radio' id='Xalatlaco' name='group1' value='Xalatlaco'><label class='rad' for='radio'>Xalatlaco</label></i>
<i><input type='radio' id='Jaltenco' name='group1' value='Jaltenco'><label class='rad' for='radio'>Jaltenco</label></i>
<i><input type='radio' id='Jilotepec' name='group1' value='Jilotepec'><label class='rad' for='radio'>Jilotepec</label></i>
<i><input type='radio' id='Jilotzingo' name='group1' value='Jilotzingo'><label class='rad' for='radio'>Jilotzingo</label></i>
<i><input type='radio' id='Jiquipilco' name='group1' value='Jiquipilco'><label class='rad' for='radio'>Jiquipilco</label></i>
<i><input type='radio' id='Jocotitlán' name='group1' value='Jocotitlán'><label class='rad' for='radio'>Jocotitlán</label></i>
<i><input type='radio' id='Joquicingo' name='group1' value='Joquicingo'><label class='rad' for='radio'>Joquicingo</label></i>
<i><input type='radio' id='Juchitepec' name='group1' value='Juchitepec'><label class='rad' for='radio'>Juchitepec</label></i>
<i><input type='radio' id='Lerma' name='group1' value='Lerma'><label class='rad' for='radio'>Lerma</label></i>
<i><input type='radio' id='Malinalco' name='group1' value='Malinalco'><label class='rad' for='radio'>Malinalco</label></i>
<i><input type='radio' id='Melchor Ocampo' name='group1' value='Melchor Ocampo'><label class='rad' for='radio'>Melchor Ocampo</label></i>
<i><input type='radio' id='Metepec' name='group1' value='Metepec'><label class='rad' for='radio'>Metepec</label></i>
<i><input type='radio' id='Mexicaltzingo' name='group1' value='Mexicaltzingo'><label class='rad' for='radio'>Mexicaltzingo</label></i>
<i><input type='radio' id='Morelos' name='group1' value='Morelos'><label class='rad' for='radio'>Morelos</label></i>
<i><input type='radio' id='Naucalpan de Juárez' name='group1' value='Naucalpan de Juárez'><label class='rad' for='radio'>Naucalpan de Juárez</label></i>
<i><input type='radio' id='Nezahualcóyotl' name='group1' value='Nezahualcóyotl'><label class='rad' for='radio'>Nezahualcóyotl</label></i>
<i><input type='radio' id='Nextlalpan' name='group1' value='Nextlalpan'><label class='rad' for='radio'>Nextlalpan</label></i>
<i><input type='radio' id='Nicolás Romero' name='group1' value='Nicolás Romero'><label class='rad' for='radio'>Nicolás Romero</label></i>
<i><input type='radio' id='Nopaltepec' name='group1' value='Nopaltepec'><label class='rad' for='radio'>Nopaltepec</label></i>
<i><input type='radio' id='Ocoyoacac' name='group1' value='Ocoyoacac'><label class='rad' for='radio'>Ocoyoacac</label></i>
<i><input type='radio' id='Ocuilan' name='group1' value='Ocuilan'><label class='rad' for='radio'>Ocuilan</label></i>
<i><input type='radio' id='El Oro' name='group1' value='El Oro'><label class='rad' for='radio'>El Oro</label></i>
<i><input type='radio' id='Otumba' name='group1' value='Otumba'><label class='rad' for='radio'>Otumba</label></i>
<i><input type='radio' id='Otzoloapan' name='group1' value='Otzoloapan'><label class='rad' for='radio'>Otzoloapan</label></i>
<i><input type='radio' id='Otzolotepec' name='group1' value='Otzolotepec'><label class='rad' for='radio'>Otzolotepec</label></i>
<i><input type='radio' id='Ozumba' name='group1' value='Ozumba'><label class='rad' for='radio'>Ozumba</label></i>
<i><input type='radio' id='Papalotla' name='group1' value='Papalotla'><label class='rad' for='radio'>Papalotla</label></i>
<i><input type='radio' id='La Paz' name='group1' value='La Paz'><label class='rad' for='radio'>La Paz</label></i>
<i><input type='radio' id='Polotitlán' name='group1' value='Polotitlán'><label class='rad' for='radio'>Polotitlán</label></i>
<i><input type='radio' id='Rayón' name='group1' value='Rayón'><label class='rad' for='radio'>Rayón</label></i>
<i><input type='radio' id='San Antonio la Isla' name='group1' value='San Antonio la Isla'><label class='rad' for='radio'>San Antonio la Isla</label></i>
<i><input type='radio' id='San Felipe del Progreso' name='group1' value='San Felipe del Progreso'><label class='rad' for='radio'>San Felipe del Progreso</label></i>
<i><input type='radio' id='San Martín de las Pirámides' name='group1' value='San Martín de las Pirámides'><label class='rad' for='radio'>San Martín de las Pirámides</label></i>
<i><input type='radio' id='San Mateo Atenco' name='group1' value='San Mateo Atenco'><label class='rad' for='radio'>San Mateo Atenco</label></i>
<i><input type='radio' id='San Simón de Guerrero' name='group1' value='San Simón de Guerrero'><label class='rad' for='radio'>San Simón de Guerrero</label></i>
<i><input type='radio' id='Santo Tomás' name='group1' value='Santo Tomás'><label class='rad' for='radio'>Santo Tomás</label></i>
<i><input type='radio' id='Soyaniquilpan de Juárez' name='group1' value='Soyaniquilpan de Juárez'><label class='rad' for='radio'>Soyaniquilpan de Juárez</label></i>
<i><input type='radio' id='Sultepec' name='group1' value='Sultepec'><label class='rad' for='radio'>Sultepec</label></i>
<i><input type='radio' id='Tecámac' name='group1' value='Tecámac'><label class='rad' for='radio'>Tecámac</label></i>
<i><input type='radio' id='Tejupilco' name='group1' value='Tejupilco'><label class='rad' for='radio'>Tejupilco</label></i>
<i><input type='radio' id='Temamatla' name='group1' value='Temamatla'><label class='rad' for='radio'>Temamatla</label></i>
<i><input type='radio' id='Temascalapa' name='group1' value='Temascalapa'><label class='rad' for='radio'>Temascalapa</label></i>
<i><input type='radio' id='Temascalcingo' name='group1' value='Temascalcingo'><label class='rad' for='radio'>Temascalcingo</label></i>
<i><input type='radio' id='Temascaltepec' name='group1' value='Temascaltepec'><label class='rad' for='radio'>Temascaltepec</label></i>
<i><input type='radio' id='Temoaya' name='group1' value='Temoaya'><label class='rad' for='radio'>Temoaya</label></i>
<i><input type='radio' id='Tenancingo' name='group1' value='Tenancingo'><label class='rad' for='radio'>Tenancingo</label></i>
<i><input type='radio' id='Tenango del Aire' name='group1' value='Tenango del Aire'><label class='rad' for='radio'>Tenango del Aire</label></i>
<i><input type='radio' id='Tenango del Valle' name='group1' value='Tenango del Valle'><label class='rad' for='radio'>Tenango del Valle</label></i>
<i><input type='radio' id='Teoloyucan' name='group1' value='Teoloyucan'><label class='rad' for='radio'>Teoloyucan</label></i>
<i><input type='radio' id='Teotihuacán' name='group1' value='Teotihuacán'><label class='rad' for='radio'>Teotihuacán</label></i>
<i><input type='radio' id='Tepetlaoxtoc' name='group1' value='Tepetlaoxtoc'><label class='rad' for='radio'>Tepetlaoxtoc</label></i>
<i><input type='radio' id='Tepetlixpa' name='group1' value='Tepetlixpa'><label class='rad' for='radio'>Tepetlixpa</label></i>
<i><input type='radio' id='Tepotzotlán' name='group1' value='Tepotzotlán'><label class='rad' for='radio'>Tepotzotlán</label></i>
<i><input type='radio' id='Tequixquiac' name='group1' value='Tequixquiac'><label class='rad' for='radio'>Tequixquiac</label></i>
<i><input type='radio' id='Texcaltitlán' name='group1' value='Texcaltitlán'><label class='rad' for='radio'>Texcaltitlán</label></i>
<i><input type='radio' id='Texcalyacac' name='group1' value='Texcalyacac'><label class='rad' for='radio'>Texcalyacac</label></i>
<i><input type='radio' id='Texcoco' name='group1' value='Texcoco'><label class='rad' for='radio'>Texcoco</label></i>
<i><input type='radio' id='Tezoyuca' name='group1' value='Tezoyuca'><label class='rad' for='radio'>Tezoyuca</label></i>
<i><input type='radio' id='Tianguistenco' name='group1' value='Tianguistenco'><label class='rad' for='radio'>Tianguistenco</label></i>
<i><input type='radio' id='Timilpan' name='group1' value='Timilpan'><label class='rad' for='radio'>Timilpan</label></i>
<i><input type='radio' id='Tlalmanalco' name='group1' value='Tlalmanalco'><label class='rad' for='radio'>Tlalmanalco</label></i>
<i><input type='radio' id='Tlalnepantla de Baz' name='group1' value='Tlalnepantla de Baz'><label class='rad' for='radio'>Tlalnepantla de Baz</label></i>
<i><input type='radio' id='Tlatlaya' name='group1' value='Tlatlaya'><label class='rad' for='radio'>Tlatlaya</label></i>
<i><input type='radio' id='Toluca' name='group1' value='Toluca'><label class='rad' for='radio'>Toluca</label></i>
<i><input type='radio' id='Tonatico' name='group1' value='Tonatico'><label class='rad' for='radio'>Tonatico</label></i>
<i><input type='radio' id='Tultepec' name='group1' value='Tultepec'><label class='rad' for='radio'>Tultepec</label></i>
<i><input type='radio' id='Tultitlán' name='group1' value='Tultitlán'><label class='rad' for='radio'>Tultitlán</label></i>
<i><input type='radio' id='Valle de Bravo' name='group1' value='Valle de Bravo'><label class='rad' for='radio'>Valle de Bravo</label></i>
<i><input type='radio' id='Villa de Allende' name='group1' value='Villa de Allende'><label class='rad' for='radio'>Villa de Allende</label></i>
<i><input type='radio' id='Villa del Carbón' name='group1' value='Villa del Carbón'><label class='rad' for='radio'>Villa del Carbón</label></i>
<i><input type='radio' id='Villa Guerrero' name='group1' value='Villa Guerrero'><label class='rad' for='radio'>Villa Guerrero</label></i>
<i><input type='radio' id='Villa Victoria' name='group1' value='Villa Victoria'><label class='rad' for='radio'>Villa Victoria</label></i>
<i><input type='radio' id='Xonacatlán' name='group1' value='Xonacatlán'><label class='rad' for='radio'>Xonacatlán</label></i>
<i><input type='radio' id='Zacazonapan' name='group1' value='Zacazonapan'><label class='rad' for='radio'>Zacazonapan</label></i>
<i><input type='radio' id='Zacualpan' name='group1' value='Zacualpan'><label class='rad' for='radio'>Zacualpan</label></i>
<i><input type='radio' id='Zinacantepec' name='group1' value='Zinacantepec'><label class='rad' for='radio'>Zinacantepec</label></i>
<i><input type='radio' id='Zumpahuacán' name='group1' value='Zumpahuacán'><label class='rad' for='radio'>Zumpahuacán</label></i>
<i><input type='radio' id='Zumpango' name='group1' value='Zumpango'><label class='rad' for='radio'>Zumpango</label></i>
<i><input type='radio' id='Cuautitlán Izcalli' name='group1' value='Cuautitlán Izcalli'><label class='rad' for='radio'>Cuautitlán Izcalli</label></i>
<i><input type='radio' id='Valle de Chalco Solidaridad' name='group1' value='Valle de Chalco Solidaridad'><label class='rad' for='radio'>Valle de Chalco Solidaridad</label></i>
<i><input type='radio' id='Luvianos' name='group1' value='Luvianos'><label class='rad' for='radio'>Luvianos</label></i>
<i><input type='radio' id='San José del Rincón' name='group1' value='San José del Rincón'><label class='rad' for='radio'>San José del Rincón</label></i>
<i><input type='radio' id='Tonanitla' name='group1' value='Tonanitla'><label class='rad' for='radio'>Tonanitla</label></i>
</div>
<div class='tabla2'>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PRI_ES</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

<script src="{{ url_for('static', filename ='js/municipios.js') }}"></script>
<script src="{{ url_for('static', filename ='js/filtro.js') }}"></script></body>
</html>
