<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Add Material CSS, replace Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/index.css') }}">
    <link rel="stylesheet" href="assets/css/home.css">
    <title>Gráfica</title>
    <link type="text/css" rel="shortcut icon" href="{{ url_for('static', filename ='img_menu/igrafica.png') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <!-- animacion de carga -->
        <div class="cont_carga">
            <div class="enc" id="enc">
                <div class="pop" id="pop">
                    <!-- animacion que se le agrega -->
                    <div class="centrado">
                        <div class="logo">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main class="principal">
            <div  class="titulo1" id="Arribaxd">
                <br/>
                <div class="buttons-con">
                    <div class="action-link-wrap">
                        <a href="/Menu" class="link-button link-back-button">REGRESAR</a>
                    </div>
                    <div class="botonMostar">
                        <button onclick="mostrarocultar()" class="mostrarM">Selección rápida</button>
                    </div>
                </div>
                <h1>SELECCIONE EL MUNICIPIO</h1>                
            </div>
            <div class="buscador">
                <br/>
                <input id="Ibuscador" type="text" class="Ibuscar" autofocus><button class="Blimpiar" id = "BLimpiar">Limpiar</button>
            </div>
            <div class='yearV'>
                <input type='checkbox' class='cbox' id='y15'value='2015'><label for="y15" class='chbox'> 2015</label>
                <input type='checkbox' class='cbox' id='y17'value='2017'><label for="y17" class='chbox'> 2017</label>
                <input type='checkbox' class='cbox' id='y18'value='2018'><label for="y18" class='chbox'> 2018</label>
                <input type='checkbox' class='cbox' id='y21'value='2021'><label for="y21" class='chbox'> 2021</label>
            </div>
             <div class="botonGraficas">
                <button class="Bbuscar" onclick="scrollToSection('Abajoxd')">Generar gráfica de barras</button><!-- <button class="Glineas">Generar gráfica de lineas</button>-->
            </div> 
            <div id="mostrar" class="ContenidoPrincipal">
                <div class="opc_municipios">
            <br/>
                    <p>
                        <button class='sRapida' id='Acambay'> Acambay </button>
                        <button class='sRapida' id='Acolman'> Acolman </button>
                        <button class='sRapida' id='Aculco'> Aculco </button>
                        <button class='sRapida' id='Almoloya de Alquisiras'> Almoloya de Alquisiras </button>
                        <button class='sRapida' id='Almoloya de Juarez'> Almoloya de Juárez </button>
                        <button class='sRapida' id='Almoloya del Rio'> Almoloya del Río </button>
                        <button class='sRapida' id='Amanalco'> Amanalco </button>
                        <button class='sRapida' id='Amatepec'> Amatepec </button>
                        <button class='sRapida' id='Amecameca'> Amecameca </button>
                        <button class='sRapida' id='Apaxco'> Apaxco </button>
                        <button class='sRapida' id='Atenco'> Atenco </button>
                        <button class='sRapida' id='Atizapan'> Atizapán </button>
                        <button class='sRapida' id='Atizapan de Zaragoza'> Atizapán de Zaragoza </button>
                        <button class='sRapida' id='Atlacomulco'> Atlacomulco </button>
                        <button class='sRapida' id='Atlautla'> Atlautla </button>
                        <button class='sRapida' id='Axapusco'> Axapusco </button>
                        <button class='sRapida' id='Ayapango'> Ayapango </button>
                        <button class='sRapida' id='Calimaya'> Calimaya </button>
                        <button class='sRapida' id='Capulhuac'> Capulhuac </button>
                        <button class='sRapida' id='Coacalco de Berriozabal'> Coacalco de Berriozábal </button>
                        <button class='sRapida' id='Coatepec Harinas'> Coatepec Harinas </button>
                        <button class='sRapida' id='Cocotitlan'> Cocotitlán </button>
                        <button class='sRapida' id='Coyotepec'> Coyotepec </button>
                        <button class='sRapida' id='Cuautitlan'> Cuautitlán </button>
                        <button class='sRapida' id='Chalco'> Chalco </button>
                        <button class='sRapida' id='Chapa de Mota'> Chapa de Mota </button>
                        <button class='sRapida' id='Chapultepec'> Chapultepec </button>
                        <button class='sRapida' id='Chiautla'> Chiautla </button>
                        <button class='sRapida' id='Chicoloapan'> Chicoloapan </button>
                        <button class='sRapida' id='Chiconcuac'> Chiconcuac </button>
                        <button class='sRapida' id='Chimalhuacan'> Chimalhuacán </button>
                        <button class='sRapida' id='Donato Guerra'> Donato Guerra </button>
                        <button class='sRapida' id='Ecatepec de Morelos'> Ecatepec de Morelos </button>
                        <button class='sRapida' id='Ecatzingo'> Ecatzingo </button>
                        <button class='sRapida' id='Huehuetoca'> Huehuetoca </button>
                        <button class='sRapida' id='Hueypoxtla'> Hueypoxtla </button>
                        <button class='sRapida' id='Huixquilucan'> Huixquilucan </button>
                        <button class='sRapida' id='Isidro Fabela'> Isidro Fabela </button>
                        <button class='sRapida' id='Ixtapaluca'> Ixtapaluca </button>
                        <button class='sRapida' id='Ixtapan de la Sal'> Ixtapan de la Sal </button>
                        <button class='sRapida' id='Ixtapan del Oro'> Ixtapan del Oro </button>
                        <button class='sRapida' id='Ixtlahuaca'> Ixtlahuaca </button>
                        <button class='sRapida' id='Xalatlaco'> Xalatlaco </button>
                        <button class='sRapida' id='Jaltenco'> Jaltenco </button>
                        <button class='sRapida' id='Jilotepec'> Jilotepec </button>
                        <button class='sRapida' id='Jilotzingo'> Jilotzingo </button>
                        <button class='sRapida' id='Jiquipilco'> Jiquipilco </button>
                        <button class='sRapida' id='Jocotitlán'> Jocotitlán </button>
                        <button class='sRapida' id='Joquicingo'> Joquicingo </button>
                        <button class='sRapida' id='Juchitepec'> Juchitepec </button>
                        <button class='sRapida' id='Lerma'> Lerma </button>
                        <button class='sRapida' id='Malinalco'> Malinalco </button>
                        <button class='sRapida' id='Melchor Ocampo'> Melchor Ocampo </button>
                        <button class='sRapida' id='Metepec'> Metepec </button>
                        <button class='sRapida' id='Mexicaltzingo'> Mexicaltzingo </button>
                        <button class='sRapida' id='Morelos'> Morelos </button>
                        <button class='sRapida' id='Naucalpan de Juarez'> Naucalpan de Juárez </button>
                        <button class='sRapida' id='Nezahualcoyotl'> Nezahualcóyotl </button>
                        <button class='sRapida' id='Nextlalpan'> Nextlalpan </button>
                        <button class='sRapida' id='Nicolás Romero'> Nicolás Romero </button>
                        <button class='sRapida' id='Nopaltepec'> Nopaltepec </button>
                        <button class='sRapida' id='Ocoyoacac'> Ocoyoacac </button>
                        <button class='sRapida' id='Ocuilan'> Ocuilan </button>
                        <button class='sRapida' id='El Oro'> El Oro </button>
                        <button class='sRapida' id='Otumba'> Otumba </button>
                        <button class='sRapida' id='Otzoloapan'> Otzoloapan </button>
                        <button class='sRapida' id='Otzolotepec'> Otzolotepec </button>
                        <button class='sRapida' id='Ozumba'> Ozumba </button>
                        <button class='sRapida' id='Papalotla'> Papalotla </button>
                        <button class='sRapida' id='La Paz'> La Paz </button>
                        <button class='sRapida' id='Polotitlan'> Polotitlán </button>
                        <button class='sRapida' id='Rayón'> Rayón </button>
                        <button class='sRapida' id='San Antonio la Isla'> San Antonio la Isla </button>
                        <button class='sRapida' id='San Felipe del Progreso'> San Felipe del Progreso </button>
                        <button class='sRapida' id='San Martin de las Piramides'> San Martín de las Pirámides </button>
                        <button class='sRapida' id='San Mateo Atenco'> San Mateo Atenco </button>
                        <button class='sRapida' id='San Simon de Guerrero'> San Simón de Guerrero </button>
                        <button class='sRapida' id='Santo Tomas'> Santo Tomás </button>
                        <button class='sRapida' id='Soyaniquilpan de Juarez'> Soyaniquilpan de Juárez </button>
                        <button class='sRapida' id='Sultepec'> Sultepec </button>
                        <button class='sRapida' id='Tecamac'> Tecámac </button>
                        <button class='sRapida' id='Tejupilco'> Tejupilco </button>
                        <button class='sRapida' id='Temamatla'> Temamatla </button>
                        <button class='sRapida' id='Temascalapa'> Temascalapa </button>
                        <button class='sRapida' id='Temascalcingo'> Temascalcingo </button>
                        <button class='sRapida' id='Temascaltepec'> Temascaltepec </button>
                        <button class='sRapida' id='Temoaya'> Temoaya </button>
                        <button class='sRapida' id='Tenancingo'> Tenancingo </button>
                        <button class='sRapida' id='Tenango del Aire'> Tenango del Aire </button>
                        <button class='sRapida' id='Tenango del Valle'> Tenango del Valle </button>
                        <button class='sRapida' id='Teoloyucan'> Teoloyucan </button>
                        <button class='sRapida' id='Teotihuacan'> Teotihuacán </button>
                        <button class='sRapida' id='Tepetlaoxtoc'> Tepetlaoxtoc </button>
                        <button class='sRapida' id='Tepetlixpa'> Tepetlixpa </button>
                        <button class='sRapida' id='Tepotzotlan'> Tepotzotlán </button>
                        <button class='sRapida' id='Tequixquiac'> Tequixquiac </button>
                        <button class='sRapida' id='Texcaltitlan'> Texcaltitlán </button>
                        <button class='sRapida' id='Texcalyacac'> Texcalyacac </button>
                        <button class='sRapida' id='Texcoco'> Texcoco </button>
                        <button class='sRapida' id='Tezoyuca'> Tezoyuca </button>
                        <button class='sRapida' id='Tianguistenco'> Tianguistenco </button>
                        <button class='sRapida' id='Timilpan'> Timilpan </button>
                        <button class='sRapida' id='Tlalmanalco'> Tlalmanalco </button>
                        <button class='sRapida' id='Tlalnepantla de Baz'> Tlalnepantla de Baz </button>
                        <button class='sRapida' id='Tlatlaya'> Tlatlaya </button>
                        <button class='sRapida' id='Toluca'> Toluca </button>
                        <button class='sRapida' id='Tonatico'> Tonatico </button>
                        <button class='sRapida' id='Tultepec'> Tultepec </button>
                        <button class='sRapida' id='Tultitlan'> Tultitlán </button>
                        <button class='sRapida' id='Valle de Bravo'> Valle de Bravo </button>
                        <button class='sRapida' id='Villa de Allende'> Villa de Allende </button>
                        <button class='sRapida' id='Villa del Carbon'> Villa del Carbón </button>
                        <button class='sRapida' id='Villa Guerrero'> Villa Guerrero </button>
                        <button class='sRapida' id='Villa Victoria'> Villa Victoria </button>
                        <button class='sRapida' id='Xonacatlan'> Xonacatlán </button>
                        <button class='sRapida' id='Zacazonapan'> Zacazonapan </button>
                        <button class='sRapida' id='Zacualpan'> Zacualpan </button>
                        <button class='sRapida' id='Zinacantepec'> Zinacantepec </button>
                        <button class='sRapida' id='Zumpahuacan'> Zumpahuacán </button>
                        <button class='sRapida' id='Zumpango'> Zumpango </button>
                        <button class='sRapida' id='Cuautitlan Izcalli'> Cuautitlán Izcalli </button>
                        <button class='sRapida' id='Valle de Chalco Solidaridad'> Valle de Chalco Solidaridad </button>
                        <button class='sRapida' id='Luvianos'> Luvianos </button>
                        <button class='sRapida' id='San Jose del Rincon'> San José del Rincon </button>
                        <button class='sRapida' id='Tonanitla'> Tonanitla </button>
                    </p>
                </div>
            </div>
            <div id="mi-alert" class="alerta">
                <p>Selecione un año</p>
            </div>
            <div class="graficas">
            </div>
            <div class="Fondo" id="Abajoxd">
            </div>
        </main>        
        <div class="Fondo">
            <button onclick="scrollPariba('Arribaxd')" class="BSubir">></button>
            <button onclick="scrollPariba('Abajoxd')" class="BBajar">></button>
            <button onclick="location.reload()" class="recargar">Limpiar</button>
        </div>
        <script src="{{ url_for('static', filename ='js/index.js') }}"> </script>
        <script>             
            // Obtener el elemento destino
            const destino = document.getElementById("resultado");

            // Desplazarse automáticamente hasta el elemento destino
            destino.scrollIntoView({ behavior: "smooth" });
        </script>
    </body>
</html>