<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Add Material CSS, replace Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/index.css') }}">
    <link rel="stylesheet" href="assets/css/home.css">
    <title>Gráfica</title>
    <link type="text/css" rel="shortcut icon" href="{{ url_for('static', filename ='img_menu/igrafica.png') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <!-- animacion de carga -->
        <div class="cont_carga">
            <div class="enc" id="enc">
                <div class="pop" id="pop">
                    <!-- animacion que se le agrega -->
                    <div class="centrado">
                        <div class="logo">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main class="principal">
            <div  class="titulo1">
                <br/>
                <div class="buttons-con">
                    <div class="action-link-wrap">
                    <a href="/" class="link-button link-back-button">REGRESAR</a>
                    </div>
                </div>
                <h1>SELECCIONE EL MUNICIPIO</h1>                
            </div>
            <div class="buscador">
                <br/>
                <input id="Ibuscador" type="text" class="Ibuscar" autofocus><button class="Blimpiar" id = "BLimpiar">Limpiar</button>
            </div>
            <div class='yearV'>
                <input type='checkbox' class='cbox' id='y15'value='2015'><label class='chbox'> 2015</label>
                <input type='checkbox' class='cbox' id='y17'value='2017'><label class='chbox'> 2017</label>
                <input type='checkbox' class='cbox' id='y18'value='2018'><label class='chbox'> 2018</label>
                <input type='checkbox' class='cbox' id='y21'value='2021'><label class='chbox'> 2021</label>
            </div>
            <div class="botonGraficas">
                <button class="Bbuscar">Generar gráfica de barras</button> <button class="Glineas">Generar gráfica de lineas</button>
            </div>
            <div class="botonMostar">
                <button onclick="mostrarocultar()" class="mostrarM">Mostrar Municipios</button>
            </div>
            <div id="mostrar" class="ContenidoPrincipal">
                <div class="opc_municipios">
            <br/>
                    <p>
                        <button class="opc_acambay" id="opc_acambay">Acambay</button>
                        <button class="opc_Acol" id="opc_Acol">Acolman</button>
                        <button class="opc_Acul" id="opc_Acul">Aculco</button>
                        <button class="opc_AlmodA" id="opc_AlmodA">Almoloya de Alquisiras</button>
                        <button class="opc_AlmodJ" id="opc_AlmodJ">Almoloya de Juárez</button>
                        <button class="opc_AlmodR" id="opc_AlmodR">Almoloya del Río</button>
                        <button class="opc_Amana" id="opc_Amana">Amanalco</button>
                        <button class="opc_Amate" id="opc_Amate">Amatepec</button>
                        <button class="opc_Amecame" id="opc_Amecame">Amecameca</button>
                        <button class="opc_Apaxco" id="opc_Apaxco">Apaxco</button>
                        <button class="opc_Atenco" id="opc_Atenco">Atenco</button>
                        <button class="opc_Atiza" id="opc_Atiza">Atizapán</button>
                        <button class="opc_AtizadZ" id="opc_AtizadZ">Atizapán de Zaragoza</button>
                        <button class="opc_atlaco" id="opc_atlaco">Atlacomulco</button>
                        <button class="opc_Atlau" id="opc_Atlau">Atlautla</button>
                        <button class="opc_Axapus" id="opc_Axapus">Axapusco</button>
                        <button class="opc_Ayapan" id="opc_Ayapan">Ayapango</button>
                        <button class="opc_Calima" id="opc_Calima">Calimaya</button>
                        <button class="opc_Capulhu" id="opc_Capulhu">Capulhuac</button>
                        <button class="opc_Coacal" id="opc_Coacal">Coacalco de Berriozábal</button>
                        <button class="opc_Coate" id="opc_Coate">Coatepec Harinas</button>
                        <button class="opc_Coco" id="opc_Coco">Cocotitlán</button>
                        <button class="opc_Coyo" id="opc_Coyo">Coyotepec</button>
                        <button class="opc_Cuau" id="opc_Cuau">Cuautitlán</button>
                        <button class="opc_Chalco" id="opc_Chalco">Chalco</button>
                        <button class="opc_Chap" id="opc_Chap">Chapa de Mota</button>
                        <button class="opc_Chapul" id="opc_Chapul">Chapultepec</button>
                        <button class="opc_Chia" id="opc_Chia">Chiautla</button>
                        <button class="opc_Chico" id="opc_Chico">Chicoloapan</button>
                        <button class="opc_Chin" id="opc_Chin">Chiconcuac</button>
                        <button class="opc_Chima" id="opc_Chima">Chimalhuacán</button>
                        <button class="opc_DondG" id="opc_DondG">Donato de Guerra</button>
                        <button class="opc_Ecat" id="opc_Ecat">Ecatepec de Morelos</button>
                        <button class="opc_Ecatz" id="opc_Ecatz">Ecatzingo</button>
                        <button class="opc_Huehue" id="opc_Huehue">Huehuetoca</button>
                        <button class="opc_Huey" id="opc_Huey">Hueypoxtla</button>
                        <button class="opc_Huix" id="opc_Huix">Huixquilucan</button>
                        <button class="opc_Isid" id="opc_Isid">Isidro Fabela</button>
                        <button class="opc_Ixta" id="opc_Ixta">Ixtapaluca</button>
                        <button class="opc_IxtapanS" id="opc_IxtapanS">Ixtapan de la Sal</button>
                        <button class="opc_IxtapanO" id="opc_IxtapanO">Ixtapan del Oro</button>
                        <button class="opc_ixtla" id="opc_ixtla">Ixtlahuaca</button>
                        <button class="opc_Xala" id="opc_Xala">Xalatlaco</button>
                        <button class="opc_Jalt" id="opc_Jalt">Jaltenco</button>
                        <button class="opc_Jilo" id="opc_Jilo">Jilotepec</button>
                        <button class="opc_Jolot" id="opc_Jilot">Jilotzingo</button>
                        <button class="opc_Jiqui" id="opc_Jiqui">Jiquipilco</button>
                        <button class="opc_Joco" id="opc_Joco">Jocotitlán</button>
                        <button class="opc_Joqui" id="opc_Joqui">Joquicingo</button>
                        <button class="opc_Juchi" id="opc_Juchi">Juchitepec</button>
                        <button class="opc_Lerma" id="opc_Lerma">Lerma</button>
                        <button class="opc_Mali" id="opc_Mali">Malinalco</button>
                        <button class="opc_MelchO" id="opc_MelchO">Melchor Ocampo</button>
                        <button class="opc_Metep" id="opc_Metep">Metepec</button>
                        <button class="opc_Mexi" id="opc_Mexi">Mexicaltzingo</button>
                        <button class="opc_Mor" id="opc_Mor">Morelos</button>
                        <button class="opc_NauJ" id="opc_NauJ">Naucalpan de Juárez</button>
                        <button class="opc_Neza" id="opc_Neza">Nezahualcoyotl</button>
                        <button class="opc_Next" id="opc_Next">Nextlalpan</button>
                        <button class="opc_NicoR" id="opc_NicoR">Nicolas Romero</button>
                        <button class="opc_Nopal" id="opc_Nopal">Nopaltepec</button>
                        <button class="opc_Ocoyoa" id="opc_Ocoyoa">Ocoyoacac</button>
                        <button class="opc_Ocuilan" id="opc_Ocuilan">Ocuilan</button>
                        <button class="opc_ElO" id="opc_ElO">El Oro</button>
                        <button class="opc_Otumba" id="opc_Otumba">Otumba</button>
                        <button class="opc_Otzo" id="opc_Otzo">Otzoloapan</button>
                        <button class="opc_Otzol" id="opc_Otzol">Otzolotepec</button>
                        <button class="opc_Ozumba" id="opc_Ozumba">Ozumba</button>
                        <button class="opc_Papal" id="opc_Papal">Papalotla</button>
                        <button class="opc_LaPaz" id="opc_LaPaz">La Paz</button>
                        <button class="opc_Polo" id="opc_Polo">Polotitlán</button>
                        <button class="opc_Rayon" id="opc_Rayon">Rayón</button>
                        <button class="opc_SanAn" id="opc_SanAn">San Antonio La Isla</button>
                        <button class="opc_SanFe" id="opc_SanFe">San Felipe del Progreso</button>
                        <button class="opc_SanMar" id="opc_SanMar">San Martin de las Pirámides</button>
                        <button class="opc_SanMateo" id="opc_SanMateo">San Mateo Atenco</button>
                        <button class="opc_SanSim" id="opc_SanSim">San Simón de Guerrero</button>
                        <button class="opc_SantoTom" id="opc_SantoTom">Santo Tomás</button>
                        <button class="opc_Soya" id="opc_Soya">Soyaniquilpan de Juárez</button>
                        <button class="opc_Sulte" id="opc_Sulte">Sultepec</button>
                        <button class="opc_Teca" id="opc_Teca">Tecámac</button>
                        <button class="opc_Teju" id="opc_Teju">Tejupilco</button>
                        <button class="opc_Temama" id="opc_Temama">Temamatla</button>
                        <button class="opc_Temas" id="opc_Temas">Temascalapa</button>
                        <button class="opc_TemasC" id="opc_TemasC">Temascalcingo</button>
                        <button class="opc_TemasCal" id="opc_TemasCal">Temascaltepec</button>
                        <button class="opc_Temoaya" id="opc_Temoaya">Temoaya</button>
                        <button class="opc_Tenan" id="opc_Tenan">Tenancingo</button>
                        <button class="opc_TenanA" id="opc_TenanA">Tenancingo del aire</button>
                        <button class="opc_TenanV" id="opc_TenanV">Tenancingo del Valle</button>
                        <button class="opc_Teol" id="opc_Teol">Teoloyucan</button>
                        <button class="opc_Teoti" id="opc_Teoti">Teotihuacán</button>
                        <button class="opc_Tepetla" id="opc_Tepetla">Tepetlaoxtoc</button>
                        <button class="opc_Tepet" id="opc_Tepet">Tepetlixpa</button>
                        <button class="opc_Tepoz" id="opc_Tepoz">Tepotzotlán</button>
                        <button class="opc_Tequix" id="opc_Tequix">Tequixquiac</button>
                        <button class="opc_Texcal" id="opc_Texcal">Texcaltitlán</button>
                        <button class="opc_Texcalya" id="opc_Texcalya">Texcalyacac</button>
                        <button class="opc_Texcoco" id="opc_Texcoco">Texcoco</button>
                        <button class="opc_Tezoy" id="opc_Tezoy">Tezoyuca</button>
                        <button class="opc_Tianguis" id="opc_Tianguis">Tianguistenco</button>
                        <button class="opc_Timilpan" id="opc_Timilpan">Timilpan</button>
                        <button class="opc_Tlalma" id="opc_Tlalma">Tlalmanalco</button>
                        <button class="opc_Tlalne" id="opc_Tlalne">Tlalnepantla</button>
                        <button class="opc_Tlatla" id="opc_Tlatla">Tlatlaya</button>
                        <button class="opc_Toluca" id="opc_Toluca">Toluca</button>
                        <button class="opc_Tonatico" id="opc_Tonatico">Tonatico</button>
                        <button class="opc_Tultepec" id="opc_Tultepec">Tultepec</button>
                        <button class="opc_Tulti" id="opc_Tulti">Tultitlán</button>
                        <button class="opc_ValleB" id="opc_ValleB">Valle de Bravo</button>
                        <button class="opc_VillaA" id="opc_VillaA">Villa de Allende</button>
                        <button class="opc_VillaC" id="opc_VillaC">Villa del Carbón</button>
                        <button class="opc_VillaG" id="opc_VillaG">Villa Guerrero</button>
                        <button class="opc_VillaV" id="opc_VillaV">Villa Victoria</button>
                        <button class="opc_Xona" id="opc_Xona">Xonacatlán</button>
                        <button class="opc_Zacanzo" id="opc_Zacanzo">Zacazonapán</button>
                        <button class="opc_Zacua" id="opc_Zacua">Zacualpan</button>
                        <button class="opc_Zinacan" id="opc_Zinacan">Zinacantepec</button>
                        <button class="opc_Zumpa" id="opc_Zumpa">Zumpahuacán</button>
                        <button class="opc_Zumpan" id="opc_Zumpan">Zumpango</button>
                        <button class="opc_Cuauti" id="opc_Cuauti">Cuautitlán Izcalli</button>
                        <button class="opc_ValleS" id="opc_ValleS">Valle del Chalco Solidaridad</button>
                        <button class="opc_Luvi" id="opc_Luvi">Luvianos</button>
                        <button class="opc_SanJose" id="opc_SanJose">San José del Rincón</button>
                        <button class="opc_Tonan" id="opc_Tonan">Tonanitla</button>
                    </p>
                </div>
            </div>
            <div class="graficas">
                
            </div>
        </main>
        <script src="{{ url_for('static', filename ='js/index.js') }}"></script>
    </body>
</html>