<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/Pazul.css') }}">
    <title>BSOD Page</title>    
</head>
<body>
  <main class="bsod container">
    <h1 class="neg title"><span class="bg">Windows</span></h1>
    <p>An error has occured. To continue:</p>
    <p>* Press Enter to return to Windows, or<br /><br />
      * Press CTRL+ALT+DEL to restart your computer. If you do this,<br />
      you will lose any unsaved information in all open applications.<br /><br />
      Error: 0E : 016F : BFF9B3D4<br /><br />
     * Send us an e-mail about this error and try later.</p>
    <nav class="nav">
      <a href="/" class="link">Restore</a>&nbsp;|&nbsp;<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link">Diagnostic</a>
    </nav>
    <script src="{{ url_for('static', filename ='js/pAzul.js') }}"></script>
  </main>
  </body>
  </html>